In [22]:
import pandas as pd
import re

In [34]:
def clean_census(file, year):
    
    column_names= ['Variable', 'Arbutus-Ridge', 'Downtown', 'Dunbar-Southlands',
               'Fairview', 'Grandview-Woodland', 'Hastings-Sunrise',
               'Kensington-Cedar Cottage', 'Kerrisdale', 'Killarney', 'Kitsilano',
               'Marpole', 'Mount Pleasant', 'Oakridge', 'Renfrew-Collingwood',
               'Riley Park', 'Shaughnessy', 'South Cambie', 'Strathcona',
               'Sunset', 'Victoria-Fraserview', 'West End', 'West Point Grey',
               'Vancouver CSD', 'Vancouver CMA']
   
    # read in csv file as dataframe
    df = pd.read_csv(file, encoding='latin-1', skiprows=4)
    
    # remove 'ID' column if present
    df.drop(columns='ID', inplace=True, errors='ignore')
    
    # rename columns 
    df.set_axis(column_names, axis=1, inplace=True)
    
    # remove empty rows
    df.dropna(0, 'all', inplace=True)
    
    # remove leading whitespace from variables
    df.Variable = df.Variable.apply(lambda x: (x.lstrip()).rstrip())
    df.drop(df[df.Variable.str.contains('20%.*data', flags=re.IGNORECASE) ].index , inplace=True)
    
    # convert all data to strings except NaN values
    df.iloc[:,1:25] = df.iloc[:,1:25].applymap(lambda x: str(x) if x == x else x)
    
    # convert data to float
    df.iloc[:,1:25] = df.iloc[:,1:25].applymap(lambda x: re.sub("[-]", "0", x) if x == x else x)
    df.iloc[:,1:25] = df.iloc[:,1:25].applymap(lambda x: float(re.sub("[,$]", "", x)) if x == x else x)
    
    # divide the census datasets into subgroups
    sub_dict = create_subgroup_dict(df, year)
    
    # clean the datatables by topics
    census_dict = clean_age(sub_dict, year)
    census_dict = clean_marital_status(census_dict, year)
    census_dict = clean_private_households(census_dict, year)
    census_dict = clean_couple_fam_structure(census_dict, year)
    census_dict = clean_language_detailed(census_dict, year)
        
    return census_dict

In [35]:
def create_subgroup_dict(df, year):
    
    # separate dataframe by 'Variables' containing regex expressions:
    if year == 2001:
        re1 = ['total.*by', 
               'population.*by', 
               'common-law couples',
               '^Male', 
               '^Female', 
               'total - male', 
               'total - female']
        
    elif year == 2006:
        re1 = ['total.*by', 
               'population.*by',
               'common-law couples',
               '^Male[s\s,]', 
               '^Female[s\s,]',
              'total - mobility']
        
    elif year == 2011:
        df.drop(index=201 , inplace=True)
        re1 = ['total.*by', 
               'population.*by', 
               'common-law couples',
               'males',
               'Total population excluding institutional residents',  
               'Total.*in private households'] 
    else:
        re1 = ['^total', 'population.*by', 'males']
    
    subgroup = list(df[df.Variable.str.contains('|'.join(re1), flags=re.IGNORECASE)].index)
    subgroup.append(len(df.Variable)+1)
    subgroup = subgroup[1:]
    
    # create census dictionary of sub datasets
    # initialize variables for the lookup dictionary
    start = 0
    census_dict = {}
    
    for s in subgroup:
        sub_df = df.loc[start:s-1]

        # transpose dataframe and rename column
        sub_df = sub_df.set_index('Variable').T.reset_index().rename(columns={'index': 'LocalArea'})

        # clean up names and store dataframes into the dictionary
        census_dict[df.Variable[start].rstrip().lstrip()] = sub_df
        start = s
        
    return census_dict

In [36]:
def clean_age(census_dict, year):
    
    if year == 2001:
        column_names = ['LocalArea', 'Type', 'Total', '0 to 4 years', 
                   '5 to 9 years', '10 to 14 years', '15 to 19 years',
                   '20 to 24 years', '25 to 29 years', '30 to 34 years', 
                   '35 to 39 years', '40 to 44 years', '45 to 49 years', 
                   '50 to 54 years', '55 to 59 years', '60 to 64 years', 
                   '65 to 69 years', '70 to 74 years', '75 to 79 years', 
                   '80 to 84 years', '85 to 89 years', '90 to 94 years',
                   '95 to 99 years', '100 years and over']

        male = census_dict['Male']
        female = census_dict['Female']
    
        female.insert(1, 'Type', 'female')
        female.set_axis(column_names, axis=1, inplace=True)
        male.insert(1, 'Type', 'male')
        male.set_axis(column_names, axis=1, inplace=True)
    
        merged = pd.concat([female, male])
        merged.sort_values(by=['LocalArea', 'Type'], inplace=True)
        total = merged.groupby('LocalArea').sum()
        total['Type'] = 'total'
        total.reset_index(inplace=True)
        merged = pd.concat([merged, total])
    
    else:
        if year == 2006:
            
            column_names = ['LocalArea', 'Type', 'Total', '0 to 4 years', 
                       '5 to 9 years', '10 to 14 years', '15 to 19 years',
                       '20 to 24 years', '25 to 29 years', '30 to 34 years', 
                       '35 to 39 years', '40 to 44 years', '45 to 49 years', 
                       '50 to 54 years', '55 to 59 years', '60 to 64 years', 
                        '65 to 69 years', '70 to 74 years', '75 to 79 years', 
                       '80 to 84 years', '85 to 89 years', '90 to 94 years',
                       '95 to 99 years', '100 years and over', 'Median Age']
            
            total = census_dict['Male & Female, Total']
            male = census_dict['Male, Total']
            female = census_dict['Female, Total']
        
        elif year == 2011:
            
            column_names = ['LocalArea', 'Type', 'Total', '0 to 4 years', 
                       '5 to 9 years', '10 to 14 years', '15 to 19 years',
                       '15 years', '16 years', '17 years', '18 years', '19 years',
                       '20 to 24 years', '25 to 29 years', '30 to 34 years', 
                       '35 to 39 years', '40 to 44 years', '45 to 49 years', 
                       '50 to 54 years', '55 to 59 years', '60 to 64 years', 
                       '65 to 69 years', '70 to 74 years', '75 to 79 years', 
                       '80 to 84 years', '85 years and over', 'Median age',
                       '% of the population aged 15 and over']
        
            total = census_dict['Total population by age groups']
            male = census_dict['Males, total']
            female = census_dict['Females, total']

        elif year == 2016:
            
            column_names = ['LocalArea', 'Type', 'Total', '0 to 14 years', 
                       '0 to 4 years', '5 to 9 years', '10 to 14 years',
                       '15 to 64 years', '15 to 19 years', '20 to 24 years', 
                       '25 to 29 years', '30 to 34 years', '35 to 39 years', 
                       '40 to 44 years', '45 to 49 years', '50 to 54 years', 
                       '55 to 59 years', '60 to 64 years', '65 years and over', 
                       '65 to 69 years', '70 to 74 years', '75 to 79 years', 
                       '80 to 84 years', '85 years and over','85 to 89 years', 
                       '90 to 94 years', '95 to 99 years', '100 years and over']
        
            total = census_dict['Total - Age groups and average age of the population - 100% data']
            male = census_dict['Total - Age groups and average age of males - 100% data']
            female = census_dict['Total - Age groups and average age of females - 100% data']
         
        female.insert(1, 'Type', 'female')
        female.set_axis(column_names, axis=1, inplace=True)
        male.insert(1, 'Type', 'male')
        male.set_axis(column_names, axis=1, inplace=True)
        total.insert(1, 'Type', 'total')
        total.set_axis(column_names, axis=1, inplace=True)
    
        merged = pd.concat([female, male, total])
    
    merged.sort_values(by=['LocalArea', 'Type'], inplace=True)
    census_dict['population by age and sex'] = merged
    merged.to_csv('../data/processed/census_population_age_sex_' + str(year) + '.csv')
    
    return census_dict

In [37]:
def clean_marital_status(census_dict, year):
    
    if year in [2001, 2006]:
        column_names = ['LocalArea', 'Total population 15 years and over',
                        'Single (never legally married)',
                       'Married', 'Separated', 'Divorced',
                       'Widowed', 'total x', 'Not living common law',
                       'Living common law']
        
        columns_ordered = ['LocalArea', 'Total population 15 years and over',
                       'Married or living with a or common-law partner',
                       'Married', 'Living common law',
                       'Not living with a married spouse or common-law partner',
                       'Single (never legally married)', 'Separated', 'Divorced',
                       'Widowed']
        
        df1 = census_dict['Total population 15 years and over by legal marital status']
        df2 = census_dict['Total population 15 years and over by common-law status']
        
        merged = pd.merge(df1, df2, on=['LocalArea'])
        merged.set_axis(column_names, axis=1, inplace=True)

        merged['Married or living with a or common-law partner'] = merged['Married'] + merged['Living common law']
        merged['Not living with a married spouse or common-law partner'] = merged['Total population 15 years and over'] - merged['Married or living with a or common-law partner']
        merged = merged[columns_ordered]
        
    
    else:
        if year == 2011:
            total = census_dict['Total population 15 years and over by marital status']
            male = census_dict['Males 15 years and over by marital status']
            female = census_dict['Females 15 years and over by marital status']
        elif year == 2016:
            total = census_dict['Total - Marital status for the population aged 15 years and over - 100% data']
            male = census_dict['Total - Marital status for males aged 15 years and over - 100% data']
            female = census_dict['Total - Marital status for females aged 15 years and over - 100% data']
            
        column_names = ['LocalArea', 'Type', 'Total population 15 years and over',
                       'Married or living with a or common-law partner',
                       'Married', 'Living common law',
                       'Not living with a married spouse or common-law partner',
                       'Single (never legally married)', 'Separated', 'Divorced',
                       'Widowed']
        
        female.insert(1, 'Type', 'female')
        female.set_axis(column_names, axis=1, inplace=True)
        male.insert(1, 'Type', 'male')
        male.set_axis(column_names, axis=1, inplace=True)
        total.insert(1, 'Type', 'total')
        total.set_axis(column_names, axis=1, inplace=True)
    
        merged = pd.concat([female, male, total])
        merged.sort_values(by=['LocalArea', 'Type'], inplace=True)
        
    census_dict['marital status'] = merged   
    merged.to_csv('../data/processed/census_marital_status_' + str(year) + '.csv')
    return census_dict

In [38]:
def clean_private_households(census_dict, year):
    if year == 2011:
        column_names = ['LocalArea', 'Type', 'Persons in private households',
                   'Persons not in census families', 'Living with relatives',
                   'Living with non-relatives only', 'Living alone',
                   'Number of census family persons']
        
        total = census_dict['Total number of persons in private households']
        male = census_dict['Number of males in private households']
        female = census_dict['Number of females in private households']
        total_65 = census_dict['Total number of persons aged 65 years and over in private households']
        male_65 = census_dict['Number of males aged 65 years and over in private households']
        female_65 = census_dict['Number of females aged 65 years and over in private households']
        
        female.insert(1, 'Type', 'female')
        female.set_axis(column_names, axis=1, inplace=True)
        male.insert(1, 'Type', 'male')
        male.set_axis(column_names, axis=1, inplace=True)
        total.insert(1, 'Type', 'total')
        total.set_axis(column_names, axis=1, inplace=True)
        
        female_65.insert(1, 'Type', '65+ female')
        female_65.set_axis(column_names, axis=1, inplace=True)
        male_65.insert(1, 'Type', '65+ male')
        male_65.set_axis(column_names, axis=1, inplace=True)
        total_65.insert(1, 'Type', '65+ total')
        total_65.set_axis(column_names, axis=1, inplace=True)
    
        merged = pd.concat([female, male, total, female_65, male_65, total_65])
        merged.sort_values(by=['LocalArea', 'Type'], inplace=True)
        census_dict['private households - individuals'] = merged
        merged.to_csv('../data/processed/census_private_households_' + str(year) + '.csv')

    return census_dict

In [39]:
def clean_couple_fam_structure(census_dict, year):
    
    column_names = ['LocalArea', 'Type', 'Total', 
                    'Without children at home',
                    'With children at home', '1 child', '2 children',
                    '3 or more children']

    if year == 2016:
        total = census_dict['Total - Couple census families in private households - 100% data']
        total.insert(1, 'Type', 'total couples')
        total.set_axis(column_names, axis=1, inplace=True)
    
        census_dict['couples - family structure'] = total
        total.to_csv('../data/processed/census_couples_family_structure_' + str(year) + '.csv')
        
    else:
        if year in [2011, 2006]:
            married = census_dict['Total couple families by family structure and number of children'] 
            married = married[['LocalArea', 'Married couples',
                               'Without children at home',
                               'With children at home', '1 child', '2 children',
                               '3 or more children']]
            common_law = census_dict['Common-law couples']
            
        elif year == 2001:
            married = census_dict['Total couple families by family structure']
            married = married[['LocalArea','Married couples', 
                               'Without children at home', 'With children at home',
                               '1 child', '2 children', '3 or more children']]
            common_law = census_dict['Common-law couples']
            
        married.insert(1, 'Type', 'married couples')
        married.set_axis(column_names, axis=1, inplace=True)
        common_law.insert(1, 'Type', 'common-law couples')
        common_law.set_axis(column_names, axis=1, inplace=True)
        
        merged = pd.concat([married, common_law])
        total = merged.groupby('LocalArea').sum()
        total['Type'] = 'total couples'
        total.reset_index(inplace=True)
        merged = pd.concat([merged, total])
        
        merged.sort_values(by=['LocalArea', 'Type'], inplace=True)
        census_dict['couples - family structure'] = merged
        merged.to_csv('../data/processed/census_couples_family_structure_' + str(year) + '.csv')
    
    return census_dict

In [40]:
def clean_language_detailed(census_dict, year):
    
    if year == 2006:
        mt_total = census_dict['Total population by mother tongue']
        home_total = census_dict['Total population by language spoken most often at home']
        home_total = home_total.iloc[:,0:104].copy()
        work_total = census_dict['Total population 15 years and over who worked since January 1, 2005 by language used most often at work']
        
        mt_total.rename(columns={mt_total.columns[1]:'Total'}, inplace=True)
        mt_total.insert(1, 'Type', 'mother tongue - total')
        home_total.rename(columns={home_total.columns[1]:'Total'}, inplace=True)
        home_total.insert(1, 'Type', 'language most often spoken at home - total')
        work_total.rename(columns={work_total.columns[1]:'Total'}, inplace=True)
        work_total.insert(1, 'Type', 'language most often spoken at work - total')
        
        merged = pd.concat([mt_total, home_total, work_total])
        merged.sort_values(by=['LocalArea', 'Type'], inplace=True)
        census_dict['detailed language'] = merged
        merged.to_csv('../data/processed/census_detailed_language_' + str(year) + '.csv')
    
    elif year == 2001:
      #  mt_total = census_dict['Total population by mother tongue']
      #  home_total = census_dict['Total population by home language']
        
      #  mt_total.rename(columns={mt_total.columns[1]:'Total'}, inplace=True)
      #  mt_total.insert(1, 'Type', 'mother tongue - total')
      #  home_total.rename(columns={home_total.columns[1]:'Total'}, inplace=True)
      #  home_total.insert(1, 'Type', 'language most often spoken at home - total')
        
       # merged = pd.concat([mt_total, home_total])
       # merged.sort_values(by=['LocalArea', 'Type'], inplace=True)
       # census_dict['detailed language'] = merged
        return census_dict
    
    else:
        if year == 2011:
            mt_total = census_dict['Detailed mother tongue - Total population excluding institutional residents']
            mt_male = census_dict['Detailed mother tongue - Males excluding institutional residents']
            mt_female = census_dict['Detailed mother tongue - Females excluding institutional residents']
        
            home_total = census_dict['Detailed language spoken most often at home - Total population excluding institutional residents']
            home_male = census_dict['Detailed language spoken most often at home - Males excluding institutional residents']
            home_female = census_dict['Detailed language spoken most often at home - Females excluding institutional residents']
        
            home2_total = census_dict['Detailed other language spoken regularly at home - Total population excluding institutional residents']
            home2_male = census_dict['Detailed other language spoken regularly at home - Males excluding institutional residents']
            home2_female = census_dict['Detailed other language spoken regularly at home - Females excluding institutional residents']
        
        elif year == 2016:
            mt_total = census_dict['Total - Mother tongue for the total population excluding institutional residents - 100% data']
            mt_male = census_dict['Total - Mother tongue for males excluding institutional residents - 100% data']
            mt_female = census_dict['Total - Mother tongue for females excluding institutional residents - 100% data']
        
            home_total = census_dict['Total - Language spoken most often at home for the total population excluding institutional residents - 100% data']
            home_male = census_dict['Total - Language spoken most often at home for males excluding institutional residents - 100% data']
            home_female = census_dict['Total - Language spoken most often at home for females excluding institutional residents - 100% data']
        
            home2_total = census_dict['Total - Other language(s) spoken regularly at home for the total population excluding institutional residents - 100% data']
            home2_male = census_dict['Total - Other language(s) spoken regularly at home for males excluding institutional residents - 100% data']
            home2_female = census_dict['Total - Other language(s) spoken regularly at home for females excluding institutional residents - 100% data']
        
        mt_female.rename(columns={mt_female.columns[1]:'Total'}, inplace=True)
        mt_female.insert(1, 'Type', 'mother tongue - female')
        mt_male.rename(columns={mt_male.columns[1]:'Total'}, inplace=True)
        mt_male.insert(1, 'Type', 'mother tongue - male')
        mt_total.rename(columns={mt_total.columns[1]:'Total'}, inplace=True)
        mt_total.insert(1, 'Type', 'mother tongue - total')
        
        home_female.rename(columns={home_female.columns[1]:'Total'}, inplace=True)
        home_female.insert(1, 'Type', 'language most often spoken at home - female')
        home_male.rename(columns={home_male.columns[1]:'Total'}, inplace=True)
        home_male.insert(1, 'Type', 'language most often spoken at home - male')
        home_total.rename(columns={home_total.columns[1]:'Total'}, inplace=True)
        home_total.insert(1, 'Type', 'language most often spoken at home - total')
        
        home2_female.rename(columns={home2_female.columns[1]:'Total'}, inplace=True)
        home2_female.insert(1, 'Type', 'other language spoken at home - female')
        home2_male.rename(columns={home2_male.columns[1]:'Total'}, inplace=True)
        home2_male.insert(1, 'Type', 'other language spoken at home - male')
        home2_total.rename(columns={home2_total.columns[1]:'Total'}, inplace=True)
        home2_total.insert(1, 'Type', 'other language spoken at home - total')
        
        merged = pd.concat([mt_female, mt_male, mt_total, home_female, home_male, home_total, home2_female, home2_male, home2_total])
        merged.sort_values(by=['LocalArea', 'Type'], inplace=True)
        census_dict['detailed language'] = merged
        merged.to_csv('../data/processed/census_detailed_language_' + str(year) + '.csv')
        
    return census_dict

In [ ]:
def clean_official_language(census_dict, year):
    column_names = ['LocalArea', 'Type', 'Total',
                     'English', 'French', 'English and French',
                     'Neither English nor French']
    if year == 2016:
        known = census_dict['Total - Knowledge of official languages for the total population excluding institutional residents - 100% data']
        first = census_dict['Total - First official language spoken for the total population excluding institutional residents - 100% data']
    
    elif year == 2011:
        known = census_dict['Knowledge of official languages - Total population excluding institutional residents']
        first = census_dict['First official language spoken - Total population excluding institutional residents']
    
    elif year in [2001, 2006]:
        known = census_dict['Total population by knowledge of official languages']
        first = census_dict['Total population by first official language spoken']
            
        
    known.insert(1, 'Type', 'knowledge of official languages')
    known.set_axis(column_names, axis=1, inplace=True)
    first.insert(1, 'Type', 'first official language spoken')
    first.set_axis(column_names, axis=1, inplace=True)  
    
    merged = pd.concat([known, first])
    merged.sort_values(by=['LocalArea', 'Type'], inplace=True)
    census_dict['official language'] = merged
    merged.to_csv('../data/processed/census_official_language_' + str(year) + '.csv')
    
    return census_dict

In [ ]:
def clean_structural_dwelling_type(census_dict, year):
    
    return census_dict

In [ ]:
def clean_household_type(census_dict, year):
    
    return census_dict

In [ ]:
def clean_household_size(census_dict, year):
    
    return census_dict

In [ ]:
def clean_census_family_children(census_dict, year):
    
    return census_dict

In [ ]:
def clean_lone_parent(census_dict, year):
    return census_dict

In [ ]:
def clean_aboriginal(census_dict, year):
    return census_dict

In [ ]:
def clean_immigration_age(census_dict, year):
    return census_dict

In [ ]:
def clean_citizenship(census_dict, year):
    return census_dict

In [ ]:
def clean_worker_class(census_dict, year):
    return census_dict

In [ ]:
def clean_education(census_dict, year):
    return census_dict

In [ ]:
def clean_ethnic_origin(census_dict, year):
    return census_dict

In [ ]:
def clean_time_worked(census_dict, year):
    return census_dict

In [ ]:
def clean_generation_status(census_dict, year):
    return census_dict

In [ ]:
def clean_household_char(census_dict, year):
    return census_dict

In [ ]:
def clean_immigration_period(census_dict, year):
    return census_dict

In [ ]:
def clean_birth_place(census_dict, year):
    return census_dict

In [ ]:
def clean_household_income(census_dict, year):
    return census_dict

In [ ]:
def clean_individual_income(census_dict, year):
    return census_dict

In [ ]:
def clean_industry(census_dict, year):
    return census_dict

In [ ]:
def clean_labour_force_status(census_dict, year):
    return census_dict

In [ ]:
def clean_commute_time(census_dict, year):
    return census_dict

In [ ]:
def clean_mobility(census_dict, year):
    return census_dict

In [ ]:
def clean_transportation_mode(census_dict, year):
    return census_dict

In [ ]:
def clean_occupation(census_dict, year):
    return census_dict

In [ ]:
def clean_workplace_status(census_dict, year):
    return census_dict

In [ ]:
def clean_religion(census_dict, year):
    return census_dict

In [ ]:
def clean_shelter_cost(census_dict, year):
    return census_dict

In [ ]:
def clean_visible_minority(census_dict, year):
    return census_dict

In [ ]:
def clean_work_activity(census_dict, year):
    return census_dict

In [41]:
df_2001 = clean_census('../data/raw/census_2001.csv', 2001)
df_2006 = clean_census('../data/raw/census_2006.csv', 2006)
df_2011 = clean_census('../data/raw/census_2011.csv', 2011)
df_2016 = clean_census('../data/raw/census_2016.csv', 2016)

In [53]:
for key in df_2016.keys():
    print(key)

Total - Age groups and average age of the population - 100% data
Total - Age groups and average age of males - 100% data
Total - Age groups and average age of females - 100% data
Total - Distribution (%) of the population by broad age groups - 100% data
Total - Distribution (%) of males by broad age groups - 100% data
Total - Distribution (%) of females by broad age groups - 100% data
Average age of males
Median age of males
Average age of females
Median age of females
Total - Marital status for the population aged 15 years and over - 100% data
Total - Marital status for males aged 15 years and over - 100% data
Total - Marital status for females aged 15 years and over - 100% data
Total - Census families in private households by family size - 100% data
Total number of census families in private households - 100% data
Total couple families
Total lone-parent families by sex of parent
Total - Couple census families in private households - 100% data
Total - Lone-parent census families in private households - 100% data
Total - Private households by household size - 100% data
Total - Private households by household type - 100% data
Total - Occupied private dwellings by structural type of dwelling - 100% data
Total - Knowledge of official languages for the total population excluding institutional residents - 100% data
Total - Knowledge of official languages for males excluding institutional residents - 100% data
Total - Knowledge of official languages for females excluding institutional residents - 100% data
Total - First official language spoken for the total population excluding institutional residents - 100% data
Total - First official language spoken for males excluding institutional residents - 100% data
Total - First official language spoken for females excluding institutional residents - 100% data
Total - Mother tongue for the total population excluding institutional residents - 100% data
Total - Mother tongue for males excluding institutional residents - 100% data
Total - Mother tongue for females excluding institutional residents - 100% data
Total - Language spoken most often at home for the total population excluding institutional residents - 100% data
Total - Language spoken most often at home for males excluding institutional residents - 100% data
Total - Language spoken most often at home for females excluding institutional residents - 100% data
Total - Other language(s) spoken regularly at home for the total population excluding institutional residents - 100% data
Total - Other language(s) spoken regularly at home for males excluding institutional residents - 100% data
Total - Other language(s) spoken regularly at home for females excluding institutional residents - 100% data
Total - Persons not in census families in private households - 100% data
Total - Males not in census families in private households - 100% data
Total - Females not in census families in private households - 100% data
Total - Income statistics in 2015 for the population aged 15 years and over in private households - 25% sample data
Total - Income statistics in 2015 for males aged 15 years and over in private households - 25% sample data
Total - Income statistics in 2015 for females aged 15 years and over in private households - 25% sample data
Total - Total income groups in 2015 for the population aged 15 years and over in private households - 25% sample data
Total - Total income groups in 2015 for males aged 15 years and over in private households - 25% sample data
Total - Total income groups in 2015 for females aged 15 years and over in private households - 25% sample data
Total - After-tax income groups in 2015 for the population aged 15 years and over in private households - 25% sample data
Total - After-tax income groups in 2015 for males aged 15 years and over in private households - 25% sample data
Total - After-tax income groups in 2015 for females aged 15 years and over in private households - 25% sample data
Total - Employment income groups in 2015 for the population aged 15 years and over in private households - 25% sample data
Total - Employment income groups in 2015 for males aged 15 years and over in private households - 25% sample data
Total - Employment income groups in 2015 for females aged 15 years and over in private households - 25% sample data
Total - Low-income status in 2015 for the population in private households to whom low-income concepts are applicable - 25% sample data
Total - Low-income status in 2015 for males in private households to whom low-income concepts are applicable - 25% sample data
Total - Low-income status in 2015 for females in private households to whom low-income concepts are applicable - 25% sample data
Total - Employment income statistics for the population aged 15 years and over in private households - 25% sample data
Total - Employment income statistics for males aged 15 years and over in private households - 25% sample data
Total - Employment income statistics for females aged 15 years and over in private households - 25% sample data
Total - Population aged 15 years and over by Labour force status - 25% sample data
Total - Males aged 15 years and over by Labour force status - 25% sample data
Total - Females aged 15 years and over by Labour force status - 25% sample data
Total population aged 15 years and over by work activity during the reference year - 25% sample data
Males aged 15 years and over by work activity during the reference year - 25% sample data
Females aged 15 years and over by work activity during the reference year - 25% sample data
Total labour force aged 15 years and over by class of worker - 25% sample data
Total male labour force aged 15 years and over by class of worker - 25% sample data
Total female labour force aged 15 years and over by class of worker - 25% sample data
Total labour force population aged 15 years and over by occupation - National Occupational Classification (NOC) 2016 - 25% sample data
Total male labour force population aged 15 years and over by occupation - National Occupational Classification (NOC) 2016 - 25% sample data
Total female labour force population aged 15 years and over by occupation - National Occupational Classification (NOC) 2016 - 25% sample data
Total Labour Force population aged 15 years and over by Industry - North American Industry Classification System (NAICS) 2012 - 25% sample data
Total male Labour Force population aged 15 years and over by Industry - North American Industry Classification System (NAICS) 2012 - 25% sample data
Total female Labour Force population aged 15 years and over by Industry - North American Industry Classification System (NAICS) 2012 - 25% sample data
Total - Commuting destination for the employed labour force aged 15 years and over in private households with a usual place of work - 25% sample data
Total - Commuting destination for the male employed labour force aged 15 years and over in private households with a usual place of work - 25% sample data
Total - Commuting destination for the female employed labour force aged 15 years and over in private households with a usual place of work - 25% sample data
Total - Main mode of commuting for the employed labour force aged 15 years and over in private households with a usual place of work or no fixed workplace address - 25% sample data
Total - Main mode of commuting for the male employed labour force aged 15 years and over in private households with a usual place of work or no fixed workplace address - 25% sample data
Total - Main mode of commuting for the female employed labour force aged 15 years and over in private households with a usual place of work or no fixed workplace address - 25% sample data
Total - Mobility status 1 year ago - 25% sample data
Total - Mobility status 1 year ago for males - 25% sample data
Total - Mobility status 1 year ago for females - 25% sample data
Total - Mobility status 5 years ago - 25% sample data
Total - Mobility status 5 years ago for males - 25% sample data
Total - Mobility status 5 years ago for females - 25% sample data
Composition of total income in 2015 of males aged 15 years and over in private households (%) - 25% sample data
Composition of total income in 2015 of females aged 15 years and over in private households (%) - 25% sample data
Total - Income statistics in 2015 for persons aged 15 years and over not in economic families in private households - 25% sample data
Total - Income statistics in 2015 for males aged 15 years and over not in economic families in private households - 25% sample data
Average total income in 2015 for males aged 15 years and over not in economic families ($)
Median total income in 2015 for males aged 15 years and over not in economic families ($)
Average after-tax income in 2015 for males aged 15 years and over not in economic families ($)
Median after-tax income in 2015 for males aged 15 years and over not in economic families ($)
Total - Income statistics in 2015 for females aged 15 years and over not in economic families in private households - 25% sample data
Average total income in 2015 for females aged 15 years and over not in economic families ($)
Median total income in 2015 for females aged 15 years and over not in economic families ($)
Average after-tax income in 2015 for females aged 15 years and over not in economic families ($)
Median after-tax income in 2015 for females aged 15 years and over not in economic families ($)
Total - Economic family income decile group for the population in private households - 25% sample data
Total - Economic family income decile group for males in private households - 25% sample data
Total - Economic family income decile group for females in private households - 25% sample data
Average weeks worked in reference year for males who worked during the reference year
Average weeks worked in reference year for females who worked during the reference year
Total - Place of work status for the employed labour force aged 15 years and over in private households - 25% sample data
Total - Place of work status for the male employed labour force aged 15 years and over in private households - 25% sample data
Total - Place of work status for the female employed labour force aged 15 years and over in private households - 25% sample data
Total - Commuting duration for the employed labour force aged 15 years and over in private households with a usual place of work or no fixed workplace address - 25% sample data
Total - Commuting duration for the male employed labour force aged 15 years and over in private households with a usual place of work or no fixed workplace address - 25% sample data
Total - Commuting duration for the female employed labour force aged 15 years and over in private households with a usual place of work or no fixed workplace address - 25% sample data
Total - Time leaving for work for the employed labour force aged 15 years and over in private households with a usual place of work or no fixed workplace address - 25% sample data
Total - Time leaving for work for the male employed labour force aged 15 years and over in private households with a usual place of work or no fixed workplace address - 25% sample data
Total - Time leaving for work for the female employed labour force aged 15 years and over in private households with a usual place of work or no fixed workplace address - 25% sample data
Total - Citizenship for the population in private households - 25% sample data
Total - Citizenship for males in private households - 25% sample data
Total - Citizenship for females in private households - 25% sample data
Total - Immigrant status and period of immigration for the population in private households - 25% sample data
Total - Immigrant status and period of immigration for males in private households - 25% sample data
Total - Immigrant status and period of immigration for females in private households - 25% sample data
Total - Age at immigration for the immigrant population in private households - 25% sample data
Total - Age at immigration for the male immigrant population in private households - 25% sample data
Total - Age at immigration for the female immigrant population in private households - 25% sample data
Total - Selected places of birth for the immigrant population in private households - 25% sample data
Total - Selected places of birth for the male immigrant population in private households - 25% sample data
Total - Selected places of birth for the female immigrant population in private households - 25% sample data
Total - Selected places of birth for the recent immigrant population in private households - 25% sample data
Total - Selected places of birth for the male recent immigrant population in private households - 25% sample data
Total - Selected places of birth for the female recent immigrant population in private households - 25% sample data
Total - Generation status for the population in private households - 25% sample data
Total - Generation status for males in private households - 25% sample data
Total - Generation status for females in private households - 25% sample data
Total - Admission category and applicant type for the immigrant population in private households who landed between 1980 and 2016 - 25% sample data
Total - Admission category and applicant type for the male immigrant population in private households who landed between 1980 and 2016 - 25% sample data
Total - Admission category and applicant type for the female immigrant population in private households who landed between 1980 and 2016 - 25% sample data
Total - Aboriginal identity for the population in private households - 25% sample data
Total - Aboriginal identity for males in private households - 25% sample data
Total - Aboriginal identity for females in private households - 25% sample data
Total - Population by Registered or Treaty Indian status for the population in private households - 25% sample data
Total - Population by Registered or Treaty Indian status for males in private households - 25% sample data
Total - Population by Registered or Treaty Indian status for females in private households - 25% sample data
Total - Aboriginal ancestry for the population in private households - 25% sample data
Total - Aboriginal ancestry for males in private households - 25% sample data
Total - Aboriginal ancestry for females in private households - 25% sample data
Total - Visible minority for the population in private households - 25% sample data
Total visible minority population
Total - Visible minority for males in private households - 25% sample data
Total - Visible minority for females in private households - 25% sample data
Total - Ethnic origin for the population in private households - 25% sample data
Total - Ethnic origin for males in private households - 25% sample data
Total - Ethnic origin for females in private households - 25% sample data
Total - Income statistics in 2015 for private households by household size - 25% sample data
Total - Income statistics in 2015 for one-person private households - 25% sample data
Total - Income statistics in 2015 for two-or-more-person private households - 25% sample data
Total - Household total income groups in 2015 for private households - 25% sample data
Total - Household after-tax income groups in 2015 for private households - 25% sample data
Total - Private households by tenure - 25% sample data
Total - Occupied private dwellings by condominium status - 25% sample data
Total - Occupied private dwellings by number of bedrooms - 25% sample data
Total - Occupied private dwellings by number of rooms - 25% sample data
Total - Private households by number of persons per room - 25% sample data
Total - Private households by housing suitability - 25% sample data
Total - Occupied private dwellings by period of construction - 25% sample data
Total - Occupied private dwellings by dwelling condition - 25% sample data
Total - Private households by number of household maintainers - 25% sample data
Total - Private households by age of primary household maintainers - 25% sample data
Total - Income statistics in 2015 for economic families in private households - 25% sample data
Total - Income statistics in 2015 for couple economic families without children or other relatives in private households - 25% sample data
Total - Income statistics in 2015 for couple economic families with children in private households - 25% sample data
Total - Income statistics in 2015 for lone-parent economic families in private households - 25% sample data
Total -  Owner and tenant households with household total income greater than zero, in non-farm, non-reserve private dwellings by shelter-cost-to-income ratio - 25% sample data
Total - Owner households in non-farm, non-reserve private dwellings - 25% sample data
Total - Tenant households in non-farm, non-reserve private dwellings - 25% sample data
Total - Highest certificate, diploma or degree for the population aged 15 years and over in private households - 25% sample data
Total - Highest certificate, diploma or degree for males aged 15 years and over in private households - 25% sample data
Total - Highest certificate, diploma or degree for females aged 15 years and over in private households - 25% sample data
Total - Highest certificate, diploma or degree for the population aged 25 to 64 years in private households - 25% sample data
Total - Highest certificate, diploma or degree for males aged 25 to 64 years in private households - 25% sample data
Total - Highest certificate, diploma or degree for females aged 25 to 64 years in private households - 25% sample data
Total - Major field of study - Classification of Instructional Programs (CIP) 2016 for the population aged 15 years and over in private households - 25% sample data
Total - Major field of study - Classification of Instructional Programs (CIP) 2016 for males aged 15 years and over in private households - 25% sample data
Total - Major field of study - Classification of Instructional Programs (CIP) 2016 for females aged 15 years and over in private households - 25% sample data
Total - Major field of study - Classification of Instructional Programs (CIP) 2016 for the population aged 25 to 64 years in private households - 25% sample data
Total - Major field of study - Classification of Instructional Programs (CIP) 2016 for males aged 25 to 64 years in private households - 25% sample data
Total - Major field of study - Classification of Instructional Programs (CIP) 2016 for females aged 25 to 64 years in private households - 25% sample data
Total - Location of study compared with province or territory of residence with countries outside Canada for the population aged 15 years and over in private households - 25% sample data
Total - Location of study compared with province or territory of residence with countries outside Canada for males aged 15 years and over in private households - 25% sample data
Total - Location of study compared with province or territory of residence with countries outside Canada for females aged 15 years and over in private households - 25% sample data
Total - Location of study compared with province or territory of residence with countries outside Canada for the population aged 25 to 64 years in private households - 25% sample data
Total - Location of study compared with province or territory of residence with countries outside Canada for males aged 25 to 64 years in private households - 25% sample data
Total - Location of study compared with province or territory of residence with countries outside Canada for females aged 25 to 64 years in private households - 25% sample data
Total - Language used most often at work for the population in private households aged 15 years and over who worked since January 1, 2015 - 25% sample data
Total - Language used most often at work for males in private households aged 15 years and over who worked since January 1, 2015 - 25% sample data

In [52]:
df_2006['Total population by knowledge of official languages']

Variable,LocalArea,Total population by knowledge of official languages,English only,French only,English and French,Neither English nor French
0,Arbutus-Ridge,15835,13135,0,1715,975
1,Downtown,42580,35350,40,5515,1670
2,Dunbar-Southlands,21320,18020,0,2910,390
3,Fairview,28490,23360,25,4755,355
4,Grandview-Woodland,27945,22225,35,3680,2000
5,Hastings-Sunrise,33000,26445,10,1745,4805
6,Kensington-Cedar Cottage,44315,35115,35,2785,6375
7,Kerrisdale,14625,12475,0,1425,710
8,Killarney,26845,23020,40,1415,2370
9,Kitsilano,40385,32360,85,7645,295
10,Marpole,23255,19485,0,1915,1855
11,Mount Pleasant,23300,19125,30,3145,1000
12,Oakridge,12535,10610,10,815,1095
13,Renfrew-Collingwood,48655,39680,0,2140,6835
14,Riley Park,21640,17825,50,2560,1205
15,Shaughnessy,8715,7345,0,1110,260
16,South Cambie,6825,5730,10,885,205
17,Strathcona,11290,7460,0,1045,2780
18,Sunset,35305,29545,25,1540,4200
19,Victoria-Fraserview,28790,23750,0,1190,3850
20,West End,44320,36685,40,6800,790
21,West Point Grey,12990,10160,0,2615,215
22,Vancouver CSD,571600,467675,435,59235,44250
23,Vancouver CMA,2.09796e+06,1.8256e+06,1140,162785,108440

In [45]:
df_2011['Knowledge of official languages - Total population excluding institutional residents']

Variable,LocalArea,Knowledge of official languages - Total population excluding institutional residents,English only,French only,English and French,Neither English nor French
0,Arbutus-Ridge,15665,12725,10,1500,1425
1,Downtown,53270,45125,55,6320,1770
2,Dunbar-Southlands,21650,17805,5,3050,785
3,Fairview,30690,25510,25,4740,405
4,Grandview-Woodland,27205,22115,15,3570,1500
5,Hastings-Sunrise,33700,26885,10,2040,4770
6,Kensington-Cedar Cottage,47190,37750,40,3235,6165
7,Kerrisdale,14725,12290,5,1445,975
8,Killarney,28190,23965,15,1475,2730
9,Kitsilano,41180,33330,30,7395,425
10,Marpole,23365,19935,10,1560,1865
11,Mount Pleasant,26155,21825,30,3595,695
12,Oakridge,12345,10315,0,670,1355
13,Renfrew-Collingwood,50240,41405,35,1860,6940
14,Riley Park,21740,18065,10,2450,1220
15,Shaughnessy,8515,6930,0,1035,550
16,South Cambie,7400,6120,5,1020,260
17,Strathcona,10705,7445,20,975,2260
18,Sunset,36120,30555,20,1605,3935
19,Victoria-Fraserview,30110,24195,5,1040,4870
20,West End,44355,37355,55,6275,670
21,West Point Grey,12795,10185,15,2195,405
22,Vancouver CSD,595720,490430,430,58905,45960
23,Vancouver CMA,2.29212e+06,1.99760e+06,1265,164780,128460

In [15]:
df_2011['Total children in census families in private households']

Variable,LocalArea,Total children in census families in private households,Under six years of age,6 to 14 years,15 to 17 years,18 to 24 years,25 years and over,Average number of children at home per census family,Average number of persons per census family
0,Arbutus-Ridge,5110,695,1615,840,1245,720,1.2,3
1,Downtown,6320,2075,1295,440,1305,1200,0.5,2.4
2,Dunbar-Southlands,7440,1190,2620,935,1750,945,1.2,3.1
3,Fairview,3640,1215,970,285,655,505,0.5,2.4
4,Grandview-Woodland,5195,1385,1520,540,885,865,0.8,2.6
5,Hastings-Sunrise,10625,1930,3030,1120,2190,2355,1.1,3
6,Kensington-Cedar Cottage,14615,2880,4075,1565,2960,3140,1.2,3
7,Kerrisdale,4780,635,1425,680,1350,700,1.2,3
8,Killarney,9515,1605,2575,1110,2200,2020,1.2,3
9,Kitsilano,6465,1975,1925,660,1210,690,0.7,2.5
10,Marpole,6740,1090,1855,820,1745,1240,1.1,2.9
11,Mount Pleasant,3895,1320,1155,330,590,500,0.7,2.5
12,Oakridge,4000,450,1035,470,1140,905,1.2,3
13,Renfrew-Collingwood,15745,2740,4150,1670,3560,3620,1.2,3
14,Riley Park,6140,1435,1830,565,1060,1245,1.1,2.9
15,Shaughnessy,2870,420,895,355,685,515,1.2,3.1
16,South Cambie,2020,465,620,215,380,340,1,2.9
17,Strathcona,1870,420,570,200,360,330,1,2.7
18,Sunset,12700,2350,3845,1385,2655,2465,1.3,3.1
19,Victoria-Fraserview,10520,1390,2650,1200,2740,2550,1.3,3.1
20,West End,3085,1055,685,245,530,575,0.4,2.2
21,West Point Grey,3645,620,1315,475,820,415,1.1,2.9
22,Vancouver CSD,146430,29245,41485,16065,31885,27755,1,2.8
23,Vancouver CMA,690760,136750,214875,82805,155365,100965,1.1,2.9

In [10]:
df_2011['Total children in census families in private households']

Variable,LocalArea,Total children in census families in private households,Under six years of age,6 to 14 years,15 to 17 years,18 to 24 years,25 years and over,Average number of children at home per census family,Average number of persons per census family
0,Arbutus-Ridge,5110,695,1615,840,1245,720,1.2,3
1,Downtown,6320,2075,1295,440,1305,1200,0.5,2.4
2,Dunbar-Southlands,7440,1190,2620,935,1750,945,1.2,3.1
3,Fairview,3640,1215,970,285,655,505,0.5,2.4
4,Grandview-Woodland,5195,1385,1520,540,885,865,0.8,2.6
5,Hastings-Sunrise,10625,1930,3030,1120,2190,2355,1.1,3
6,Kensington-Cedar Cottage,14615,2880,4075,1565,2960,3140,1.2,3
7,Kerrisdale,4780,635,1425,680,1350,700,1.2,3
8,Killarney,9515,1605,2575,1110,2200,2020,1.2,3
9,Kitsilano,6465,1975,1925,660,1210,690,0.7,2.5
10,Marpole,6740,1090,1855,820,1745,1240,1.1,2.9
11,Mount Pleasant,3895,1320,1155,330,590,500,0.7,2.5
12,Oakridge,4000,450,1035,470,1140,905,1.2,3
13,Renfrew-Collingwood,15745,2740,4150,1670,3560,3620,1.2,3
14,Riley Park,6140,1435,1830,565,1060,1245,1.1,2.9
15,Shaughnessy,2870,420,895,355,685,515,1.2,3.1
16,South Cambie,2020,465,620,215,380,340,1,2.9
17,Strathcona,1870,420,570,200,360,330,1,2.7
18,Sunset,12700,2350,3845,1385,2655,2465,1.3,3.1
19,Victoria-Fraserview,10520,1390,2650,1200,2740,2550,1.3,3.1
20,West End,3085,1055,685,245,530,575,0.4,2.2
21,West Point Grey,3645,620,1315,475,820,415,1.1,2.9
22,Vancouver CSD,146430,29245,41485,16065,31885,27755,1,2.8
23,Vancouver CMA,690760,136750,214875,82805,155365,100965,1.1,2.9

In [165]:
df_2016['Total - Language used most often at work for the population in private households aged 15 years and over who worked since January 1, 2015 - 25% sample data']

Variable,LocalArea,"Total - Language used most often at work for the population in private households aged 15 years and over who worked since January 1, 2015 - 25% sample data",Single responses,Official languages,English,French,Non-official languages,Aboriginal languages,Algonquian languages,Blackfoot,...,Estonian,Finnish,Hungarian,"Uralic languages, n.i.e.","Other languages, n.i.e.",Multiple responses,English and French,English and non-official language,French and non-official language,"English, French and non-official language"
0,Arbutus-Ridge,7380,7080,6345,6315,25,740,0,0,0,...,0,0,0,0,0,300,10,285,0,0
1,Downtown,42140,41125,39925,39785,140,1200,0,0,0,...,0,0,0,0,0,1015,175,825,0,15
2,Dunbar-Southlands,11525,11215,10555,10530,30,660,10,0,0,...,0,0,0,0,0,310,15,280,0,15
3,Fairview,24040,23780,23570,23490,75,210,0,0,0,...,0,0,0,0,0,260,70,185,0,0
4,Grandview-Woodland,20205,19935,19350,19270,80,590,0,0,0,...,0,0,0,0,0,265,55,205,10,0
5,Hastings-Sunrise,20145,19535,17840,17800,45,1690,0,0,0,...,0,0,0,0,0,610,35,565,10,0
6,Kensington-Cedar Cottage,30615,29930,27265,27200,65,2670,0,0,0,...,0,0,0,0,0,680,65,620,0,0
7,Kerrisdale,7035,6790,6250,6240,10,540,0,0,0,...,0,0,0,0,0,240,10,235,0,0
8,Killarney,16730,16190,14665,14615,50,1525,0,0,0,...,0,0,0,0,0,540,15,520,0,0
9,Kitsilano,30885,30560,30235,30040,190,325,0,0,0,...,0,0,0,0,10,325,110,215,0,10
10,Marpole,14545,14030,12770,12740,35,1260,0,0,0,...,0,0,0,0,0,510,35,475,0,0
11,Mount Pleasant,24930,24645,24315,24245,70,330,0,0,0,...,0,0,0,0,0,285,55,225,0,0
12,Oakridge,6335,6045,5320,5305,10,730,0,0,0,...,0,0,0,0,0,295,10,270,0,15
13,Renfrew-Collingwood,31030,29970,26430,26370,55,3535,0,0,0,...,0,0,0,0,0,1065,50,1005,0,10
14,Riley Park,14120,13925,13475,13440,30,455,0,0,0,...,0,0,0,0,0,195,20,175,0,0
15,Shaughnessy,4305,4170,3805,3790,10,365,0,0,0,...,0,0,0,0,0,135,10,125,0,0
16,South Cambie,4780,4705,4535,4505,35,165,0,0,0,...,0,0,0,0,0,75,15,60,0,0
17,Strathcona,4810,4745,4405,4410,0,335,0,0,0,...,0,0,0,0,0,70,0,55,0,0
18,Sunset,21350,20505,19215,19185,25,1290,0,0,0,...,0,0,0,0,0,845,25,805,0,15
19,Victoria-Fraserview,17295,16610,14125,14105,20,2485,0,0,0,...,0,0,0,0,0,690,25,660,0,0
20,West End,35215,34560,33775,33565,215,780,0,0,0,...,0,0,0,0,0,655,145,490,0,15
21,West Point Grey,7265,7070,6790,6765,25,280,0,0,0,...,0,0,0,0,0,190,20,170,0,10
22,Vancouver CSD,395780,386225,364095,362830,1265,22130,0,0,0,...,0,10,0,0,0,9555,965,8455,20,115
23,Vancouver CMA,1.44982e+06,1.40866e+06,1.33380e+06,1.33056e+06,3245,74865,10,10,0,...,0,15,15,0,30,41150,2780,37985,40,350

In [70]:
df_2011['detailed language']

,LocalArea,Type,Total,Single responses,English,French,Non-official languages,Selected Aboriginal languages,Atikamekw,"Cree, n.o.s.",...,Urdu,Vietnamese,Yiddish,Other languages,Multiple responses,English and French,English and non-official language,French and non-official language,"English, French and non-official language",None
0,Arbutus-Ridge,language most often spoken at home - female,8530,8105,4900,35,3175,0,0,0,...,0,5,0,5,425,5,410,5,5,NaN
0,Arbutus-Ridge,language most often spoken at home - male,7130,6830,4135,35,2655,0,0,0,...,0,0,0,5,300,5,290,0,5,NaN
0,Arbutus-Ridge,language most often spoken at home - total,15665,14935,9040,75,5825,0,0,0,...,5,10,0,10,725,10,695,5,10,NaN
0,Arbutus-Ridge,mother tongue - female,8535,8350,3735,95,4525,0,0,0,...,5,10,10,15,180,20,150,10,5,NaN
0,Arbutus-Ridge,mother tongue - male,7130,7015,3330,75,3610,0,0,0,...,5,5,5,5,120,10,95,5,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21,West Point Grey,mother tongue - male,6095,6005,4345,120,1545,0,0,0,...,5,5,5,5,85,20,70,0,0,NaN
21,West Point Grey,mother tongue - total,12795,12600,8795,270,3540,0,0,5,...,10,10,10,15,190,40,135,10,5,NaN
21,West Point Grey,other language spoken at home - female,6705,1215,420,120,670,0,0,0,...,0,0,5,5,30,0,10,20,0,5460
21,West Point Grey,other language spoken at home - male,6095,965,380,100,490,0,0,0,...,5,0,0,10,20,0,10,15,0,5105
21,West Point Grey,other language spoken at home - total,12795,2180,800,220,1160,0,0,0,...,5,0,5,15,50,5,15,30,0,10565