# Census Data Cleaning
Keanna Knebel

---

In [16]:
# import packages
import pandas as pd
import re

In [34]:
def clean_census(file, year):
    
    column_names= ['Variable', 'Arbutus-Ridge', 'Downtown', 'Dunbar-Southlands',
               'Fairview', 'Grandview-Woodland', 'Hastings-Sunrise',
               'Kensington-Cedar Cottage', 'Kerrisdale', 'Killarney', 'Kitsilano',
               'Marpole', 'Mount Pleasant', 'Oakridge', 'Renfrew-Collingwood',
               'Riley Park', 'Shaughnessy', 'South Cambie', 'Strathcona',
               'Sunset', 'Victoria-Fraserview', 'West End', 'West Point Grey',
               'Vancouver CSD', 'Vancouver CMA']
   
    # read in csv file as dataframe
    df = pd.read_csv(file, encoding='latin-1', skiprows=4)
    
    # remove 'ID' column if present
    df.drop(columns='ID', inplace=True, errors='ignore')
    
    # rename columns 
    df.set_axis(column_names, axis=1, inplace=True)
    
    # remove empty rows
    df.dropna(0, 'all', inplace=True)
    
    # remove leading whitespace from variables
    df.Variable = df.Variable.apply(lambda x: (x.lstrip()).rstrip())
    df.drop(df[df.Variable.str.contains('20%.*data', flags=re.IGNORECASE) ].index , inplace=True)
    
    # convert all data to strings except NaN values
    df.iloc[:,1:25] = df.iloc[:,1:25].applymap(lambda x: str(x) if x == x else x)
    
    # convert data to float
    df.iloc[:,1:25] = df.iloc[:,1:25].applymap(lambda x: re.sub("[-]", "0", x) if x == x else x)
    df.iloc[:,1:25] = df.iloc[:,1:25].applymap(lambda x: float(re.sub("[,$]", "", x)) if x == x else x)
    
    # divide the census datasets into subgroups
    sub_dict = create_subgroup_dict(df, year)
    
    # clean the datatables by topics
    census_dict = clean_age(sub_dict, year)
    census_dict = clean_marital_status(census_dict, year)
    census_dict = clean_private_households(census_dict, year)
    census_dict = clean_couple_fam_structure(census_dict, year)
    census_dict = clean_language_detailed(census_dict, year)
    census_dict = clean_official_language(census_dict, year)
    census_dict = clean_structural_dwelling_type(census_dict, year)
    census_dict = clean_household_size(census_dict, year)
    census_dict = clean_lone_parent(census_dict, year)
    census_dict = clean_immigration_age(census_dict, year)
    census_dict = clean_immigration_period(census_dict, year)
    
    #### INCOMPLETE HELPER FUNCTIONS ####
    #census_dict = clean_household_type(census_dict, year)
    #census_dict = clean_census_family_children(census_dict, year)
    #census_dict = clean_aboriginal(census_dict, year)
    #census_dict = clean_citizenship(census_dict, year)
    #census_dict = clean_worker_class(census_dict, year)
    #census_dict = clean_education(census_dict, year)
    #census_dict = clean_ethnic_origin(census_dict, year)
    #census_dict = clean_time_worked(census_dict, year)
    #census_dict = clean_generation_status(census_dict, year)
    #census_dict = clean_household_char(census_dict, year)
    #census_dict = clean_birth_place(census_dict, year)
    #census_dict = clean_household_income(census_dict, year)
    #census_dict = clean_individual_income(census_dict, year)
    #census_dict = clean_industry(census_dict, year)
    #census_dict = clean_labour_force_status(census_dict, year)
    #census_dict = clean_commute_time(census_dict, year)
    #census_dict = clean_mobility(census_dict, year)
    #census_dict = clean_transport_mode(census_dict, year)
    #census_dict = clean_occupation(census_dict, year)
    #census_dict = clean_workplace_status(census_dict, year)
    #census_dict = clean_religion(census_dict, year)
    #census_dict = clean_shelter_cost(census_dict, year)
    #census_dict = clean_visible_minority(census_dict, year)
    #census_dict = clean_work_activity(census_dict, year)
        
    return census_dict

In [19]:
def create_subgroup_dict(df, year):
    
    # separate dataframe by 'Variables' containing regex expressions:
    if year == 2001:
        re1 = ['total.*by', 
               'population.*by', 
               'common-law couples',
               '^Male', 
               '^Female', 
               'total - male', 
               'total - female']
        
    elif year == 2006:
        re1 = ['total.*by', 
               'population.*by',
               'common-law couples',
               '^Male[s\s,]', 
               '^Female[s\s,]',
              'total - mobility',
              'Average number of children']
        
    elif year == 2011:
        df.drop(index=201 , inplace=True)
        re1 = ['total.*by', 
               'population.*by', 
               'common-law couples',
               'males',
               'Total population excluding institutional residents',  
               'Total.*in private households'] 
    elif year == 2016:
        re1 = ['^total', 'population.*by', 'males']
    
    subgroup = list(df[df.Variable.str.contains('|'.join(re1), flags=re.IGNORECASE)].index)
    subgroup.append(len(df.Variable)+1)
    subgroup = subgroup[1:]
    
    # create census dictionary of sub datasets
    # initialize variables for the lookup dictionary
    start = 0
    census_dict = {}
    
    for s in subgroup:
        sub_df = df.loc[start:s-1]

        # transpose dataframe and rename column
        sub_df = sub_df.set_index('Variable').T.reset_index().rename(columns={'index': 'LocalArea'})

        # check for duplicates and store dataframes into the dictionary
        if df.Variable[start] in census_dict:
            start = s
        else:
            census_dict[df.Variable[start]] = sub_df
            start = s
        
    return census_dict

In [20]:
def clean_age(census_dict, year):
    
    if year == 2001:
        column_names = ['LocalArea', 'Type', 'Total', '0 to 4 years', 
                   '5 to 9 years', '10 to 14 years', '15 to 19 years',
                   '20 to 24 years', '25 to 29 years', '30 to 34 years', 
                   '35 to 39 years', '40 to 44 years', '45 to 49 years', 
                   '50 to 54 years', '55 to 59 years', '60 to 64 years', 
                   '65 to 69 years', '70 to 74 years', '75 to 79 years', 
                   '80 to 84 years', '85 to 89 years', '90 to 94 years',
                   '95 to 99 years', '100 years and over']

        male = census_dict['Male']
        female = census_dict['Female']
    
        female.insert(1, 'Type', 'female')
        female.set_axis(column_names, axis=1, inplace=True)
        male.insert(1, 'Type', 'male')
        male.set_axis(column_names, axis=1, inplace=True)
    
        merged = pd.concat([female, male])
        merged.sort_values(by=['LocalArea', 'Type'], inplace=True)
        total = merged.groupby('LocalArea').sum()
        total['Type'] = 'total'
        total.reset_index(inplace=True)
        merged = pd.concat([merged, total])
    
    else:
        if year == 2006:
            
            column_names = ['LocalArea', 'Type', 'Total', '0 to 4 years', 
                       '5 to 9 years', '10 to 14 years', '15 to 19 years',
                       '20 to 24 years', '25 to 29 years', '30 to 34 years', 
                       '35 to 39 years', '40 to 44 years', '45 to 49 years', 
                       '50 to 54 years', '55 to 59 years', '60 to 64 years', 
                        '65 to 69 years', '70 to 74 years', '75 to 79 years', 
                       '80 to 84 years', '85 to 89 years', '90 to 94 years',
                       '95 to 99 years', '100 years and over', 'Median Age']
            
            total = census_dict['Male & Female, Total']
            male = census_dict['Male, Total']
            female = census_dict['Female, Total']
        
        elif year == 2011:
            
            column_names = ['LocalArea', 'Type', 'Total', '0 to 4 years', 
                       '5 to 9 years', '10 to 14 years', '15 to 19 years',
                       '15 years', '16 years', '17 years', '18 years', '19 years',
                       '20 to 24 years', '25 to 29 years', '30 to 34 years', 
                       '35 to 39 years', '40 to 44 years', '45 to 49 years', 
                       '50 to 54 years', '55 to 59 years', '60 to 64 years', 
                       '65 to 69 years', '70 to 74 years', '75 to 79 years', 
                       '80 to 84 years', '85 years and over', 'Median age',
                       '% of the population aged 15 and over']
        
            total = census_dict['Total population by age groups']
            male = census_dict['Males, total']
            female = census_dict['Females, total']

        elif year == 2016:
            
            column_names = ['LocalArea', 'Type', 'Total', '0 to 14 years', 
                       '0 to 4 years', '5 to 9 years', '10 to 14 years',
                       '15 to 64 years', '15 to 19 years', '20 to 24 years', 
                       '25 to 29 years', '30 to 34 years', '35 to 39 years', 
                       '40 to 44 years', '45 to 49 years', '50 to 54 years', 
                       '55 to 59 years', '60 to 64 years', '65 years and over', 
                       '65 to 69 years', '70 to 74 years', '75 to 79 years', 
                       '80 to 84 years', '85 years and over','85 to 89 years', 
                       '90 to 94 years', '95 to 99 years', '100 years and over']
        
            total = census_dict['Total - Age groups and average age of the population - 100% data']
            male = census_dict['Total - Age groups and average age of males - 100% data']
            female = census_dict['Total - Age groups and average age of females - 100% data']
         
        female.insert(1, 'Type', 'female')
        female.set_axis(column_names, axis=1, inplace=True)
        male.insert(1, 'Type', 'male')
        male.set_axis(column_names, axis=1, inplace=True)
        total.insert(1, 'Type', 'total')
        total.set_axis(column_names, axis=1, inplace=True)
    
        merged = pd.concat([female, male, total])
    
    merged.sort_values(by=['LocalArea', 'Type'], inplace=True)
    census_dict['population by age and sex'] = merged
    merged.to_csv('../../data/processed/census_' + str(year) + '/population_age_sex.csv')
    
    return census_dict

In [21]:
def clean_marital_status(census_dict, year):
    
    if year in [2001, 2006]:
        column_names = ['LocalArea', 'Total population 15 years and over',
                        'Single (never legally married)',
                       'Married', 'Separated', 'Divorced',
                       'Widowed', 'total x', 'Not living common law',
                       'Living common law']
        
        columns_ordered = ['LocalArea', 'Total population 15 years and over',
                       'Married or living with a or common-law partner',
                       'Married', 'Living common law',
                       'Not living with a married spouse or common-law partner',
                       'Single (never legally married)', 'Separated', 'Divorced',
                       'Widowed']
        
        df1 = census_dict['Total population 15 years and over by legal marital status']
        df2 = census_dict['Total population 15 years and over by common-law status']
        
        merged = pd.merge(df1, df2, on=['LocalArea'])
        merged.set_axis(column_names, axis=1, inplace=True)

        merged['Married or living with a or common-law partner'] = merged['Married'] + merged['Living common law']
        merged['Not living with a married spouse or common-law partner'] = merged['Total population 15 years and over'] - merged['Married or living with a or common-law partner']
        merged = merged[columns_ordered]
        
    
    else:
        if year == 2011:
            total = census_dict['Total population 15 years and over by marital status']
            male = census_dict['Males 15 years and over by marital status']
            female = census_dict['Females 15 years and over by marital status']
        elif year == 2016:
            total = census_dict['Total - Marital status for the population aged 15 years and over - 100% data']
            male = census_dict['Total - Marital status for males aged 15 years and over - 100% data']
            female = census_dict['Total - Marital status for females aged 15 years and over - 100% data']
            
        column_names = ['LocalArea', 'Type', 'Total population 15 years and over',
                       'Married or living with a or common-law partner',
                       'Married', 'Living common law',
                       'Not living with a married spouse or common-law partner',
                       'Single (never legally married)', 'Separated', 'Divorced',
                       'Widowed']
        
        female.insert(1, 'Type', 'female')
        female.set_axis(column_names, axis=1, inplace=True)
        male.insert(1, 'Type', 'male')
        male.set_axis(column_names, axis=1, inplace=True)
        total.insert(1, 'Type', 'total')
        total.set_axis(column_names, axis=1, inplace=True)
    
        merged = pd.concat([female, male, total])
        merged.sort_values(by=['LocalArea', 'Type'], inplace=True)
        
    census_dict['marital status'] = merged   
    merged.to_csv('../../data/processed/census_' + str(year) + '/marital_status.csv')
    return census_dict

In [22]:
def clean_private_households(census_dict, year):
    if year == 2011:
        column_names = ['LocalArea', 'Type', 'Persons in private households',
                   'Persons not in census families', 'Living with relatives',
                   'Living with non-relatives only', 'Living alone',
                   'Number of census family persons']
        
        total = census_dict['Total number of persons in private households']
        male = census_dict['Number of males in private households']
        female = census_dict['Number of females in private households']
        total_65 = census_dict['Total number of persons aged 65 years and over in private households']
        male_65 = census_dict['Number of males aged 65 years and over in private households']
        female_65 = census_dict['Number of females aged 65 years and over in private households']
        
        female.insert(1, 'Type', 'female')
        female.set_axis(column_names, axis=1, inplace=True)
        male.insert(1, 'Type', 'male')
        male.set_axis(column_names, axis=1, inplace=True)
        total.insert(1, 'Type', 'total')
        total.set_axis(column_names, axis=1, inplace=True)
        
        female_65.insert(1, 'Type', '65+ female')
        female_65.set_axis(column_names, axis=1, inplace=True)
        male_65.insert(1, 'Type', '65+ male')
        male_65.set_axis(column_names, axis=1, inplace=True)
        total_65.insert(1, 'Type', '65+ total')
        total_65.set_axis(column_names, axis=1, inplace=True)
    
        merged = pd.concat([female, male, total, female_65, male_65, total_65])
        merged.sort_values(by=['LocalArea', 'Type'], inplace=True)
        census_dict['private households - individuals'] = merged
        merged.to_csv('../../data/processed/census_' + str(year) + '/private_households.csv')

    return census_dict

In [23]:
def clean_couple_fam_structure(census_dict, year):
    
    column_names = ['LocalArea', 'Type', 'Total', 
                    'Without children at home',
                    'With children at home', '1 child', '2 children',
                    '3 or more children']

    if year == 2016:
        total = census_dict['Total - Couple census families in private households - 100% data']
        total.insert(1, 'Type', 'total couples')
        total.set_axis(column_names, axis=1, inplace=True)
    
        census_dict['couples - family structure'] = total
        total.to_csv('../../data/processed/census_' + str(year) + '/couples_family_structure.csv')
        
    else:
        if year in [2011, 2006]:
            married = census_dict['Total couple families by family structure and number of children'] 
            married = married[['LocalArea', 'Married couples',
                               'Without children at home',
                               'With children at home', '1 child', '2 children',
                               '3 or more children']]
            common_law = census_dict['Common-law couples']
            
        elif year == 2001:
            married = census_dict['Total couple families by family structure']
            married = married[['LocalArea','Married couples', 
                               'Without children at home', 'With children at home',
                               '1 child', '2 children', '3 or more children']]
            common_law = census_dict['Common-law couples']
            
        married.insert(1, 'Type', 'married couples')
        married.set_axis(column_names, axis=1, inplace=True)
        common_law.insert(1, 'Type', 'common-law couples')
        common_law.set_axis(column_names, axis=1, inplace=True)
        
        merged = pd.concat([married, common_law])
        total = merged.groupby('LocalArea').sum()
        total['Type'] = 'total couples'
        total.reset_index(inplace=True)
        merged = pd.concat([merged, total])
        
        merged.sort_values(by=['LocalArea', 'Type'], inplace=True)
        census_dict['couples - family structure'] = merged
        merged.to_csv('../../data/processed/census_' + str(year) + '/couples_family_structure.csv')
    
    return census_dict

In [24]:
def clean_language_detailed(census_dict, year):
    
    if year == 2006:
        mt_total = census_dict['Total population by mother tongue']
        home_total = census_dict['Total population by language spoken most often at home']
        home_total = home_total.iloc[:,0:104].copy()
        work_total = census_dict['Total population 15 years and over who worked since January 1, 2005 by language used most often at work']
        
        mt_total.rename(columns={mt_total.columns[1]:'Total'}, inplace=True)
        mt_total.insert(1, 'Type', 'mother tongue - total')
        home_total.rename(columns={home_total.columns[1]:'Total'}, inplace=True)
        home_total.insert(1, 'Type', 'language most often spoken at home - total')
        work_total.rename(columns={work_total.columns[1]:'Total'}, inplace=True)
        work_total.insert(1, 'Type', 'language most often spoken at work - total')
        
        merged = pd.concat([mt_total, home_total, work_total])
    
    elif year == 2001:
        mt_total = census_dict['Total population by mother tongue']
        home_total = census_dict['Total population by home language']
        home_total = home_total.groupby(home_total.columns, axis=1).sum()
        
        mt_total.rename(columns={mt_total.columns[1]:'Total'}, inplace=True)
        mt_total.insert(1, 'Type', 'mother tongue - total')
        home_total.rename(columns={'Total population by home language':'Total'}, inplace=True)
        home_total.insert(1, 'Type', 'language most often spoken at home - total')
        
        merged = pd.concat([mt_total, home_total])
    
    else:
        if year == 2011:
            mt_total = census_dict['Detailed mother tongue - Total population excluding institutional residents']
            mt_male = census_dict['Detailed mother tongue - Males excluding institutional residents']
            mt_female = census_dict['Detailed mother tongue - Females excluding institutional residents']
        
            home_total = census_dict['Detailed language spoken most often at home - Total population excluding institutional residents']
            home_male = census_dict['Detailed language spoken most often at home - Males excluding institutional residents']
            home_female = census_dict['Detailed language spoken most often at home - Females excluding institutional residents']
        
            home2_total = census_dict['Detailed other language spoken regularly at home - Total population excluding institutional residents']
            home2_male = census_dict['Detailed other language spoken regularly at home - Males excluding institutional residents']
            home2_female = census_dict['Detailed other language spoken regularly at home - Females excluding institutional residents']
        
        elif year == 2016:
            mt_total = census_dict['Total - Mother tongue for the total population excluding institutional residents - 100% data']
            mt_male = census_dict['Total - Mother tongue for males excluding institutional residents - 100% data']
            mt_female = census_dict['Total - Mother tongue for females excluding institutional residents - 100% data']
        
            home_total = census_dict['Total - Language spoken most often at home for the total population excluding institutional residents - 100% data']
            home_male = census_dict['Total - Language spoken most often at home for males excluding institutional residents - 100% data']
            home_female = census_dict['Total - Language spoken most often at home for females excluding institutional residents - 100% data']
        
            home2_total = census_dict['Total - Other language(s) spoken regularly at home for the total population excluding institutional residents - 100% data']
            home2_male = census_dict['Total - Other language(s) spoken regularly at home for males excluding institutional residents - 100% data']
            home2_female = census_dict['Total - Other language(s) spoken regularly at home for females excluding institutional residents - 100% data']
        
        mt_female.rename(columns={mt_female.columns[1]:'Total'}, inplace=True)
        mt_female.insert(1, 'Type', 'mother tongue - female')
        mt_male.rename(columns={mt_male.columns[1]:'Total'}, inplace=True)
        mt_male.insert(1, 'Type', 'mother tongue - male')
        mt_total.rename(columns={mt_total.columns[1]:'Total'}, inplace=True)
        mt_total.insert(1, 'Type', 'mother tongue - total')
        
        home_female.rename(columns={home_female.columns[1]:'Total'}, inplace=True)
        home_female.insert(1, 'Type', 'language most often spoken at home - female')
        home_male.rename(columns={home_male.columns[1]:'Total'}, inplace=True)
        home_male.insert(1, 'Type', 'language most often spoken at home - male')
        home_total.rename(columns={home_total.columns[1]:'Total'}, inplace=True)
        home_total.insert(1, 'Type', 'language most often spoken at home - total')
        
        home2_female.rename(columns={home2_female.columns[1]:'Total'}, inplace=True)
        home2_female.insert(1, 'Type', 'other language spoken at home - female')
        home2_male.rename(columns={home2_male.columns[1]:'Total'}, inplace=True)
        home2_male.insert(1, 'Type', 'other language spoken at home - male')
        home2_total.rename(columns={home2_total.columns[1]:'Total'}, inplace=True)
        home2_total.insert(1, 'Type', 'other language spoken at home - total')
        
        merged = pd.concat([mt_female, mt_male, mt_total, home_female, home_male, home_total, home2_female, home2_male, home2_total])
    
    merged.sort_values(by=['LocalArea', 'Type'], inplace=True)
    census_dict['detailed language'] = merged
    merged.to_csv('../../data/processed/census_' + str(year) + '/detailed_language.csv')
        
    return census_dict

In [25]:
def clean_official_language(census_dict, year):
    column_names = ['LocalArea', 'Type', 'Total',
                     'English', 'French', 'English and French',
                     'Neither English nor French']
    if year == 2016:
        known = census_dict['Total - Knowledge of official languages for the total population excluding institutional residents - 100% data']
        first = census_dict['Total - First official language spoken for the total population excluding institutional residents - 100% data']
    
    elif year == 2011:
        known = census_dict['Knowledge of official languages - Total population excluding institutional residents']
        first = census_dict['First official language spoken - Total population excluding institutional residents']
    
    elif year in [2001, 2006]:
        known = census_dict['Total population by knowledge of official languages']
        first = census_dict['Total population by first official language spoken']
            
        
    known.insert(1, 'Type', 'knowledge of official languages')
    known.set_axis(column_names, axis=1, inplace=True)
    first.insert(1, 'Type', 'first official language spoken')
    first.set_axis(column_names, axis=1, inplace=True)  
    
    merged = pd.concat([known, first])
    merged.sort_values(by=['LocalArea', 'Type'], inplace=True)
    census_dict['official language'] = merged
    merged.to_csv('../../data/processed/census_' + str(year) + '/official_language.csv')
    
    return census_dict

In [26]:
def clean_structural_dwelling_type(census_dict, year):
          
    if year == 2006:
        column_names = ['LocalArea', 'Total',
       'Single-detached house', 'Semi-detached house', 'Row house',
       'Apartment, duplex',
       'Apartment, building that has five or more storeys']
        
        df = census_dict['Total number of occupied private dwellings by structural type of dwelling']
    
    elif year in [2001, 2011, 2016]:
        column_names = ['LocalArea', 'Total',
       'Single-detached house', 'Semi-detached house', 'Row house',
       'Apartment, detached duplex',
       'Apartment, building that has five or more storeys',
       'Apartment, building that has fewer than five storeys',
       'Other single-attached house', 'Movable dwelling']
        
        if year == 2001:
            df = census_dict['Total number of occupied private dwellings by structural type of dwelling']
            df = df.iloc[:,0:10].copy()
        
        elif year == 2011:
            df = census_dict['Total number of occupied private dwellings by structural type of dwelling']
            df = df[['LocalArea',
                    'Total number of occupied private dwellings by structural type of dwelling',
                    'Single-detached house', 'Semi-detached house', 'Row house',
                    'Apartment, duplex', 
                    'Apartment, building that has five or more storeys', 
                    'Apartment, building that has fewer than five storeys',
                    'Other single-attached house', 'Movable dwelling']].copy()
    
        elif year == 2016:
            df = census_dict['Total - Occupied private dwellings by structural type of dwelling - 100% data']
            df = df[['LocalArea',
            'Total - Occupied private dwellings by structural type of dwelling - 100% data',
           'Single-detached house', 'Semi-detached house', 'Row house',
           'Apartment or flat in a duplex',
           'Apartment in a building that has five or more storeys',
           'Apartment in a building that has fewer than five storeys',
           'Other single-attached house', 'Movable dwelling']].copy()
        
    df.set_axis(column_names, axis=1, inplace=True)
    df.sort_values(by=['LocalArea'], inplace=True)
    census_dict['structual dwelling type'] = df
    df.to_csv('../../data/processed/census_' + str(year) + '/structual_dwelling_type.csv')
    
    return census_dict

In [27]:
def clean_household_size(census_dict, year):
    if year == 2001:
        column_names = ['LocalArea', 'Total households',
       '1 person', '2 persons', '3 persons', '4 to 5 persons',
       '6 or more persons',
       'Average household size']
    
        df = census_dict['Total number of private households by household size']
        
    elif year in [2006, 2011]:
        
        column_names = ['LocalArea', 'Total households',
       '1 person', '2 persons', '3 persons', '4 to 5 persons',
       '6 or more persons', 'Number of persons in private households',
       'Average household size']
    
        df = census_dict['Total number of private households by household size']
        
    elif year == 2016:
        
        column_names = ['LocalArea', 'Total households',
       '1 person', '2 persons', '3 persons', '4 persons', '5 or more persons',
       'Number of persons in private households', 'Average household size']
        
        df = census_dict['Total - Private households by household size - 100% data']
   
    df.set_axis(column_names, axis=1, inplace=True)
    df.sort_values(by=['LocalArea'], inplace=True)
    census_dict['household size'] = df
    df.to_csv('../../data/processed/census_' + str(year) + '/household_size.csv')
    
    return census_dict

In [28]:
def clean_lone_parent(census_dict, year):
    column_names = ['LocalArea', 'Total lone-parent families',
                 'Female parent', 'Male parent',
                 '1 child', '2 children', '3 or more children']
    if year == 2016:
        df1 = census_dict["Total lone-parent families by sex of parent"]
        df2 = census_dict["Total - Lone-parent census families in private households - 100% data"]
        
        df = pd.concat([df1, df2], axis=1)
        df = df.groupby(df.columns, axis=1).first()
        df = df[['LocalArea', 'Total lone-parent families by sex of parent',
                 'Female parent', 'Male parent',
                 '1 child', '2 children', '3 or more children']].copy()
    
    elif year == 2011:
        df = census_dict['Total lone-parent families by sex of parent and number of children']
        df = df.groupby(df.columns, axis=1).sum()
        df = df[['LocalArea', 'Total lone-parent families by sex of parent and number of children',
                  'Female parent', 'Male parent',
                 '1 child', '2 children', '3 or more children']].copy()
    
    elif year == 2006:
        df1 = census_dict['Total lone-parent families by sex of parent and number of children']
        df2 = census_dict['Female parent']
        df2 = df2.iloc[:,1:5].copy()
        df3 = census_dict['Male parent']
        df3 = df3.iloc[:,1:5].copy()
        
        df = pd.concat([df1, df2, df3], axis=1)
        df = df.groupby(df.columns, axis=1).sum()
        df = df[['LocalArea', 'Total lone-parent families by sex of parent and number of children',
                  'Female parent', 'Male parent',
                 '1 child', '2 children', '3 or more children']].copy()
    
    elif year == 2001:
        df1 = census_dict['Total lone-parent families by sex of parent']
        df2 = census_dict['Female parent']
        df2 = df2.iloc[:,1:5].copy()
        df3 = census_dict['Male parent']
        df3 = df3.iloc[:,1:5].copy()
        
        df = pd.concat([df1, df2, df3], axis=1)
        df = df.groupby(df.columns, axis=1).sum()
        df = df[['LocalArea', 'Total lone-parent families by sex of parent',
                  'Female parent', 'Male parent',
                 '1 child', '2 children', '3 or more children']].copy()

    df.set_axis(column_names, axis=1, inplace=True)
    df.sort_values(by=['LocalArea'], inplace=True)
    census_dict['lone_parent'] = df
    df.to_csv('../../data/processed/census_' + str(year) + '/lone_parent.csv')
        
    return census_dict

In [29]:
def clean_immigration_age(census_dict, year):
    
    if year in [2006, 2016]:
        column_names = ['LocalArea', 
                 'Total immigrant population',
                 'Under 5 years', '5 to 14 years', '15 to 24 years', 
                 '25 to 44 years', '45 years and over']
        
        if year == 2006:
            df = census_dict['Total immigrant population by age at immigration']
            
        elif year == 2016:
            df = census_dict['Total - Age at immigration for the immigrant population in private households - 25% sample data']
    
    elif year == 2011:
        column_names = ['LocalArea', 'Type', 
                 'Total immigrant population',
                 'Under 5 years', '5 to 14 years', '15 to 24 years', 
                 '25 to 44 years', '45 years and over']
        
        df = pd.read_csv('../../data/processed/nhs/Age at immigration.csv', index_col=0)
        df = df[['LocalArea', 'Type', 
                 'Total immigrant population in private households by age at immigration',
                 'Under 5 years', '5 to 14 years', '15 to 24 years', 
                 '25 to 44 years', '45 years and over']].copy()
    
    elif year == 2001:
        column_names = ['LocalArea', 
                 'Total immigrant population',
                 'Under 5 years', '5 to 19 years', '20 years and over']
        df = census_dict['Total immigrant population by age at immigration']
       
    df.set_axis(column_names, axis=1, inplace=True)
    df.sort_values(by=['LocalArea'], inplace=True)
    census_dict['immigration_age'] = df
    df.to_csv('../../data/processed/census_' + str(year) + '/immigration_age.csv')
            
    return census_dict

In [30]:
def clean_immigration_period(census_dict, year):
    
    if year == 2001:
        column_names = ['LocalArea', 
                 'Total immigrant population','Before 1961', 
                        '1961 to 1970', '1971 to 1980', '1981 to 1990', 
                        '1991 to 1995', '1996 to 2001']
        df = census_dict['Total immigrant population by period of immigration']
    
    elif year == 2006:
        column_names = ['LocalArea', 
                 'Total immigrant population',
                 'Before 1961', '1961 to 1970', '1971 to 1980', '1981 to 1990',
                 '1991 to 2000', '1991 to 1995', '1996 to 2000', '2001 to 2006']
        df = census_dict['Total immigrant population by period of immigration']
            
    elif year == 2016:
        column_names = ['LocalArea', 'Total population',
           'Non-immigrants', 'Non-permanent residents', 'Immigrants', 
           'Before 1981', '1981 to 1990', '1991 to 2000', '2001 to 2010', 
           '2001 to 2005', '2006 to 2010','2011 to 2016']
                        
        df = census_dict['Total - Immigrant status and period of immigration for the population in private households - 25% sample data']
        df = df[['LocalArea',
           'Total - Immigrant status and period of immigration for the population in private households - 25% sample data',
           'Non-immigrants', 'Non-permanent residents', 'Immigrants', 'Before 1981', '1981 to 1990',
           '1991 to 2000', '2001 to 2010', '2001 to 2005', '2006 to 2010',
           '2011 to 2016']].copy()
    
    elif year == 2011:
        column_names = ['LocalArea', 'Type', 'Total population',
                  'Non-immigrants', 'Non-permanent residents', 'Immigrants',
                 'Before 1971', '1971 to 1980', '1981 to 1990', '1991 to 2000', '2001 to 2005']
        
        df = pd.read_csv('../../data/processed/nhs/Immigrant status and period of immigration.csv', index_col=0)
        df = df[['LocalArea', 'Type', 
                 'Total population in private households by immigrant status and period of immigration',
                  'Non-immigrants', 'Non-permanent residents', 'Immigrants',
                 'Before 1971', '1971 to 1980', '1981 to 1990', '1991 to 2000', '2001 to 2005']].copy()
    
       
    df.set_axis(column_names, axis=1, inplace=True)
    df.sort_values(by=['LocalArea'], inplace=True)
    census_dict['immigration_period'] = df
    df.to_csv('../../data/processed/census_' + str(year) + 'immigration_period.csv')
    
    return census_dict

In [31]:
def clean_visible_minority(census_dict, year):
    
    column_names = ['LocalArea', 'Total population',
                    'Not a visible minority', 'Total visible minority population',
                    'Arab', 'Black', 'Chinese', 'Filipino', 'Japanese', 'Korean',
                    'Latin American', 'West Asian', 'South Asian', 'Southeast Asian', 
                    'Multiple visible minorities', 'Other visible minority']
    
    if year == 2001:
        
        df = census_dict['Total population by visible minority groups']
        df = df[['LocalArea', 'Total population by visible minority groups',
                 'All others', 'Total visible minority population', 
                 'Arab', 'Black', 'Chinese',  'Filipino', 'Japanese',
                 'Korean', 'Latin American', 'West Asian', 'South Asian',
                 'Southeast Asian', 'Multiple visible minorities',
                 'Visible minority, n.i.e.']].copy()
        
    elif year == 2006:
        
        df = census_dict['Total population by visible minority groups']
        df = df[['LocalArea', 'Total population by visible minority groups',
                 'Not a visible minority', 'Total visible minority population',
                 'Arab', 'Black', 'Chinese', 'Filipino', 'Japanese', 'Korean',
                 'Latin American', 'West Asian', 'South Asian', 'Southeast Asian', 
                 'Multiple visible minority', 'Visible minority, n.i.e.']]
        
    elif year == 2011:
        column_names = ['LocalArea', 'Type', 'Total population',
                       'Not a visible minority', 'Total visible minority population',
                       'Arab', 'Black', 'Chinese', 'Filipino', 'Japanese', 'Korean',
                       'Latin American', 'West Asian', 'South Asian', 'Southeast Asian', 
                       'Multiple visible minorities', 'Other visible minority']
        
        df = pd.read_csv('../../data/processed/nhs/Visible minority population.csv', index_col=0)
        df = df[['LocalArea', 'Type', 
                 'Total population in private households by visible minority',
                 'Not a visible minority', 'Total visible minority population',
                 'Arab', 'Black', 'Chinese', 'Filipino', 'Japanese', 'Korean',
                 'Latin American', 'West Asian', 'South Asian', 'Southeast Asian', 
                 'Multiple visible minorities', 'Visible minority, n.i.e.']].copy()
        
    elif year == 2016:
        df = census_dict['Total visible minority population']
        df = df[['LocalArea', 'Total visible minority population',
                 'Not a visible minority', 'Total visible minority population',
                 'Arab', 'Black', 'Chinese', 'Filipino', 'Japanese', 'Korean',
                 'Latin American', 'West Asian', 'South Asian', 'Southeast Asian', 
                 'Multiple visible minorities', 'Visible minority, n.i.e.']]
       
    
    df.set_axis(column_names, axis=1, inplace=True)
    df.sort_values(by=['LocalArea'], inplace=True)
    census_dict['visible_minority'] = df
    df.to_csv('../../data/processed/census_' + str(year) + 'visible_minority.csv')
    
    return census_dict

# Incomplete Helper Functions

In [14]:
def clean_household_type(census_dict, year):
    
    if year == 2001:
        
    elif year == 2006:
        
    elif year == 2011:
        
    elif year == 2016:
    
    df.set_axis(column_names, axis=1, inplace=True)
    df.sort_values(by=['LocalArea'], inplace=True)
    census_dict['household_type'] = df
    df.to_csv('../../data/processed/census_' + str(year) + 'household_type.csv')
    
    return census_dict

IndentationError: expected an indented block (<ipython-input-14-c1d5e90acc76>, line 5)

In [328]:
def clean_census_family_children(census_dict, year):
    
    if year == 2001:
        
    elif year == 2006:
        
    elif year == 2011:
        
    elif year == 2016:
    
    df.set_axis(column_names, axis=1, inplace=True)
    df.sort_values(by=['LocalArea'], inplace=True)
    census_dict['census_family_children'] = df
    df.to_csv('../../data/processed/census_' + str(year) + 'census_family_children.csv')
    
    return census_dict

In [330]:
def clean_aboriginal(census_dict, year):
    
    if year == 2001:
        
    elif year == 2006:
        
    elif year == 2011:
        
    elif year == 2016:
        
    df.set_axis(column_names, axis=1, inplace=True)
    df.sort_values(by=['LocalArea'], inplace=True)
    census_dict['aboriginal'] = df
    df.to_csv('../../data/processed/census_' + str(year) + 'aboriginal.csv')
    
    return census_dict

In [332]:
def clean_citizenship(census_dict, year):
    
    if year == 2001:
        
    elif year == 2006:
        
    elif year == 2011:
        
    elif year == 2016:
    
    df.set_axis(column_names, axis=1, inplace=True)
    df.sort_values(by=['LocalArea'], inplace=True)
    census_dict['citizenship'] = df
    df.to_csv('../../data/processed/census_' + str(year) + 'citizenship.csv')
    
    return census_dict

In [333]:
def clean_worker_class(census_dict, year):
    
    if year == 2001:
        
    elif year == 2006:
        
    elif year == 2011:
        
    elif year == 2016:
    
    df.set_axis(column_names, axis=1, inplace=True)
    df.sort_values(by=['LocalArea'], inplace=True)
    census_dict['worker_class'] = df
    df.to_csv('../../data/processed/census_' + str(year) + 'worker_class.csv')
    
    return census_dict

In [334]:
def clean_education(census_dict, year):
    
    if year == 2001:
        
    elif year == 2006:
        
    elif year == 2011:
        
    elif year == 2016:
        
    df.set_axis(column_names, axis=1, inplace=True)
    df.sort_values(by=['LocalArea'], inplace=True)
    census_dict['education'] = df
    df.to_csv('../../data/processed/census_' + str(year) + 'education.csv')
    
    return census_dict

In [335]:
def clean_ethnic_origin(census_dict, year):
    
    if year == 2001:
        
    elif year == 2006:
        
    elif year == 2011:
        
    elif year == 2016:
    
    df.set_axis(column_names, axis=1, inplace=True)
    df.sort_values(by=['LocalArea'], inplace=True)
    census_dict['ethnic_origin'] = df
    df.to_csv('../../data/processed/census_' + str(year) + 'ethnic_origin.csv')
    
    return census_dict

In [288]:
def clean_time_worked(census_dict, year):
    
    if year == 2001:
        
    elif year == 2006:
        
    elif year == 2011:
        
    elif year == 2016:
    
    df.set_axis(column_names, axis=1, inplace=True)
    df.sort_values(by=['LocalArea'], inplace=True)
    census_dict['time_worked'] = df
    df.to_csv('../../data/processed/census_' + str(year) + 'time_worked.csv')
    
    return census_dict

In [289]:
def clean_generation_status(census_dict, year):
    
    if year == 2001:
        
    elif year == 2006:
        
    elif year == 2011:
        
    elif year == 2016:
    
    df.set_axis(column_names, axis=1, inplace=True)
    df.sort_values(by=['LocalArea'], inplace=True)
    census_dict['generation_status'] = df
    df.to_csv('../../data/processed/census_' + str(year) + 'generation_status.csv')
    
    return census_dict

In [290]:
def clean_household_char(census_dict, year):
    
    if year == 2001:
        
    elif year == 2006:
        
    elif year == 2011:
        
    elif year == 2016:
    
    df.set_axis(column_names, axis=1, inplace=True)
    df.sort_values(by=['LocalArea'], inplace=True)
    census_dict['household_characteristics'] = df
    df.to_csv('../../data/processed/census_' + str(year) + 'household_characteristics.csv')
    
    return census_dict

In [359]:
def clean_birth_place(census_dict, year):
    if year == 2001:
        column_names = ['LocalArea', 
                 'Total immigrant population','Before 1961', 
                        '1961 to 1970', '1971 to 1980', '1981 to 1990', 
                        '1991 to 1995', '1996 to 2001']
        df = census_dict['Total immigrant population by period of immigration']
    
    elif year == 2006:
        column_names = ['LocalArea', 
                 'Total immigrant population',
                 'Before 1961', '1961 to 1970', '1971 to 1980', '1981 to 1990',
                 '1991 to 2000', '1991 to 1995', '1996 to 2000', '2001 to 2006']
        df = census_dict['Total immigrant population by period of immigration']
            
    elif year == 2016:
        column_names = ['LocalArea', 'Total population',
           'Non-immigrants', 'Non-permanent residents', 'Immigrants', 
           'Before 1981', '1981 to 1990', '1991 to 2000', '2001 to 2010', 
           '2001 to 2005', '2006 to 2010','2011 to 2016']
                        
        df = census_dict['Total - Immigrant status and period of immigration for the population in private households - 25% sample data']
        df = df[['LocalArea',
           'Total - Immigrant status and period of immigration for the population in private households - 25% sample data',
           'Non-immigrants', 'Non-permanent residents', 'Immigrants', 'Before 1981', '1981 to 1990',
           '1991 to 2000', '2001 to 2010', '2001 to 2005', '2006 to 2010',
           '2011 to 2016']].copy()
    
    elif year == 2011:
        column_names = ['LocalArea', 'Type', 'Total population',
                 'Non-immigrants',
                 'Born in province of residence',
                 'Born outside province of residence',
                 'Non-permanent residents', 'Immigrants',
                 'Afghanistan', 'Africa', 'Algeria', 'Americas', 'Asia',
                 'Bangladesh', 'Bosnia and Herzegovina', 'Chile',
                 'China', 'Colombia', 'Croatia', 'Egypt', 'El Salvador', 'Ethiopia',
                 'Europe', 'Fiji', 'France', 'Germany', 'Greece', 'Guyana', 'Haiti',
                 'Hong Kong', 'Hungary', 'India', 'Iran', 'Iraq', 'Ireland', 'Italy', 'Jamaica',
                 'Japan', 'Kenya', 'South Korea', 'Lebanon', 'Mexico', 'Morocco',
                 'Netherlands', 'Nigeria', 'Pakistan', 'Peru', 'Philippines', 'Poland',
                 'Portugal', 'Romania', 'Russia', 'Serbia', 'South Africa',
                 'Sri Lanka', 'Taiwan', 'Trinidad and Tobago', 'Turkey', 'Ukraine', 'United Kingdom',
                'United States', 'Viet Nam', 'Oceania and other',
                'Other places of birth in Africa', 'Other places of birth in Americas',
                'Other places of birth in Asia', 'Other places of birth in Europe', 
                'Other places of birth']
        
        df = pd.read_csv('../../data/processed/nhs/Immigrant status and selected places of birth.csv', index_col=0)
        df = df[['LocalArea', 'Type',  
                 'Total population in private households by immigrant status and selected places of birth',
                 'Non-immigrants',
                 'Born in province of residence',
                 'Born outside province of residence',
                 'Non-permanent residents', 'Immigrants',
                 'Afghanistan', 'Africa', 'Algeria', 'Americas', 'Asia',
                 'Bangladesh', 'Bosnia and Herzegovina', 'Chile',
                 'China', 'Colombia', 'Croatia', 'Egypt', 'El Salvador', 'Ethiopia',
                 'Europe', 'Fiji', 'France', 'Germany', 'Greece', 'Guyana', 'Haiti',
                 'Hong Kong Special Administrative Region', 'Hungary',
                 'India', 'Iran', 'Iraq', 'Ireland, Republic of', 'Italy', 'Jamaica',
                 'Japan', 'Kenya', 'Korea, South', 'Lebanon', 'Mexico', 'Morocco',
                 'Netherlands', 'Nigeria', 'Pakistan', 'Peru', 'Philippines', 'Poland',
                 'Portugal', 'Romania', 'Russian Federation', 'Serbia', 'South Africa, Republic of',
                 'Sri Lanka', 'Taiwan', 'Trinidad and Tobago', 'Turkey', 'Ukraine', 'United Kingdom',
                'United States', 'Viet Nam', 'Oceania and other',
                'Other places of birth in Africa', 'Other places of birth in Americas',
                'Other places of birth in Asia', 'Other places of birth in Europe', 
                 'Other places of birth']].copy()
    
       
    df.set_axis(column_names, axis=1, inplace=True)
    df.sort_values(by=['LocalArea'], inplace=True)
    census_dict['immigration_birth_place'] = df
    df.to_csv('../../data/processed/census_' + str(year) + 'immigration_birth_place.csv')
    
    return census_dict

In [339]:
def clean_household_income(census_dict, year):
    if year == 2011:
        column_names = ['LocalArea', 'Type', 'Total population']
        
        df = pd.read_csv('../../data/processed/nhs/Income of households in 2010.csv', index_col=0)
        df = df[['LocalArea', 'Type', 
                 'After-tax income of households in 2010 of private households',
                 '$5,000 to $9,999', '$10,000 to $14,999', '$15,000 to $19,999',  
                 '$20,000 to $29,999', '$30,000 to $39,999', '$40,000 to $49,999', 
                 '$50,000 to $59,999', '$60,000 to $79,999', '$80,000 to $99,999',
                 '$100,000 and over', '$100,000 to $124,999', '$125,000 and over',
                 '$125,000 to $149,999', '$150,000 and over',
       'Average after-tax household income ($)',
       'Average household total income ($)',
       'Average household total income ($)',
       'Household income in 2010 of private households',
       'Household total income in 2010 of private households',
       'Median after-tax household income ($)',
       'Median household total income ($)',
       'Median household total income ($)', 'One-person private households',
       'Two-or-more-persons private households', 'Under $5,000', 'LocalArea']]
    
    df.set_axis(column_names, axis=1, inplace=True)
    df.sort_values(by=['LocalArea'], inplace=True)
    census_dict['household_income'] = df
    df.to_csv('../../data/processed/census_' + str(year) + 'household_income.csv')
    
    return census_dict

In [340]:
def clean_individual_income(census_dict, year):
    
    if year == 2001:
        
    elif year == 2006:
        
    elif year == 2011:
        column_names = ['LocalArea', 'Type', 'Total population']
        
        df = pd.read_csv('../../data/processed/nhs/Income of individuals in 2010.csv', index_col=0)
        
    elif year == 2016:
    
    df.set_axis(column_names, axis=1, inplace=True)
    df.sort_values(by=['LocalArea'], inplace=True)
    census_dict['individual_income'] = df
    df.to_csv('../../data/processed/census_' + str(year) + 'individual_income.csv')
    
    return census_dict

In [341]:
def clean_industry(census_dict, year):
    
    if year == 2001:
        
    elif year == 2006:
        
    elif year == 2011:
        column_names = ['LocalArea', 'Type', 'Total population']
        
        df = pd.read_csv('../../data/processed/nhs/Industry.csv', index_col=0)
        
    elif year == 2016:
    
    df.set_axis(column_names, axis=1, inplace=True)
    df.sort_values(by=['LocalArea'], inplace=True)
    census_dict['industry'] = df
    df.to_csv('../../data/processed/census_' + str(year) + 'industry.csv')
    
    return census_dict

In [342]:
def clean_labour_force_status(census_dict, year):
    
    if year == 2001:
        
    elif year == 2006:
        
    elif year == 2011:
        column_names = ['LocalArea', 'Type', 'Total population']
        
        df = pd.read_csv('../../data/processed/nhs/Labour force status.csv', index_col=0)
        
    elif year == 2016:
    
    df.set_axis(column_names, axis=1, inplace=True)
    df.sort_values(by=['LocalArea'], inplace=True)
    census_dict['labour_force_status'] = df
    df.to_csv('../../data/processed/census_' + str(year) + 'labour_force_status.csv')
    
    return census_dict

In [343]:
def clean_commute_time(census_dict, year):
    
    if year == 2001:
        
    elif year == 2006:
        
    elif year == 2011:
        column_names = ['LocalArea', 'Type', 'Total population']
        
        df = pd.read_csv('../../data/processed/nhs/Median commuting duration.csv', index_col=0)
        
    elif year == 2016:
        
    df.set_axis(column_names, axis=1, inplace=True)
    df.sort_values(by=['LocalArea'], inplace=True)
    census_dict['commute_time'] = df
    df.to_csv('../../data/processed/census_' + str(year) + 'commute_time.csv')
    
    return census_dict

In [344]:
def clean_mobility(census_dict, year):
    
    if year == 2001:
        
    elif year == 2006:
        
    elif year == 2011:
        column_names = ['LocalArea', 'Type', 'Total population']
        
        df = pd.read_csv('../../data/processed/nhs/Mobility.csv', index_col=0)
        
    elif year == 2016:
    
    df.set_axis(column_names, axis=1, inplace=True)
    df.sort_values(by=['LocalArea'], inplace=True)
    census_dict['mobility'] = df
    df.to_csv('../../data/processed/census_' + str(year) + 'mobility.csv')
    
    return census_dict

In [345]:
def clean_transport_mode(census_dict, year):
    
    if year == 2001:
        
    elif year == 2006:
        
    elif year == 2011:
        column_names = ['LocalArea', 'Type', 'Total population']
        
        df = pd.read_csv('../../data/processed/nhs/Mode of transportation.csv', index_col=0)
        
    elif year == 2016:
    
    df.set_axis(column_names, axis=1, inplace=True)
    df.sort_values(by=['LocalArea'], inplace=True)
    census_dict['transport_mode'] = df
    df.to_csv('../../data/processed/census_' + str(year) + 'transport_mode.csv')
    
    return census_dict

In [346]:
def clean_occupation(census_dict, year):
    
    if year == 2001:
        
    elif year == 2006:
        
    elif year == 2011:
        column_names = ['LocalArea', 'Type', 'Total population']
        
        df = pd.read_csv('../../data/processed/nhs/Occupation.csv', index_col=0)
        
    elif year == 2016:
    
    df.set_axis(column_names, axis=1, inplace=True)
    df.sort_values(by=['LocalArea'], inplace=True)
    census_dict['occupation'] = df
    df.to_csv('../../data/processed/census_' + str(year) + 'occupation.csv')
    
    return census_dict

In [347]:
def clean_workplace_status(census_dict, year):
    
    if year == 2001:
        
    elif year == 2006:
        
    elif year == 2011:
        column_names = ['LocalArea', 'Type', 'Total population']
        
        df = pd.read_csv('../../data/processed/nhs/Place of work status.csv', index_col=0)
        
    elif year == 2016:
    
    df.set_axis(column_names, axis=1, inplace=True)
    df.sort_values(by=['LocalArea'], inplace=True)
    census_dict['workplace_status'] = df
    df.to_csv('../../data/processed/census_' + str(year) + 'workplace_status.csv')
    
    return census_dict

In [348]:
# no data for 2006
def clean_religion(census_dict, year):
    
    if year == 2001:
        
    elif year == 2006:
        
    elif year == 2011:
        column_names = ['LocalArea', 'Type', 'Total population']
        
        df = pd.read_csv('../../data/processed/nhs/Religion.csv', index_col=0)
        
    elif year == 2016:
    
    df.set_axis(column_names, axis=1, inplace=True)
    df.sort_values(by=['LocalArea'], inplace=True)
    census_dict['clean_religion'] = df
    df.to_csv('../../data/processed/census_' + str(year) + 'clean_religion.csv')
    
    return census_dict

In [33]:
def clean_shelter_cost(census_dict, year):
    
    column_names = ['LocalArea', 'Total number of dwellings', 'Owned',
                       'Rented', 'Band housing']

    if year == 2001:
        df = census_dict['Total number of occupied private dwellings by tenure']
        
    elif year == 2006:
        df = census_dict['Total number of occupied private dwellings by housing tenure']
        
    elif year == 2011:
        column_names = ['LocalArea', 'Type', 'Total number of dwellings', 
                        'Owned','Rented']
        
        df = pd.read_csv('../../data/processed/nhs/Shelter costs.csv', index_col=0)
        df = df[['LocalArea','Type',
                 'Total number of owner and tenant households with household total income greater than zero, in non-farm, non-reserve private dwellings by shelter-cost-to-income ratio',
                 'Number of owner households in non-farm, non-reserve private dwellings',
                 'Number of tenant households in non-farm, non-reserve private dwellings']].copy()
        
    elif year == 2016:
    
    df.set_axis(column_names, axis=1, inplace=True)
    df.sort_values(by=['LocalArea'], inplace=True)
    census_dict['shelter_cost'] = df
    df.to_csv('../../data/processed/census_' + str(year) + 'shelter_cost.csv')
    
    return census_dict

IndentationError: expected an indented block (<ipython-input-33-113302226526>, line 24)

In [35]:
df_2001 = clean_census('../../data/raw/census_2001.csv', 2001)
df_2006 = clean_census('../../data/raw/census_2006.csv', 2006)
df_2011 = clean_census('../../data/raw/census_2011.csv', 2011)
df_2016 = clean_census('../../data/raw/census_2016.csv', 2016)

In [36]:
for key in df_2006.keys():
    print(key)

Total population by sex and age groups - 100% data
Male & Female, Total
Male, Total
Female, Total
Total population 15 years and over by legal marital status
Total population 15 years and over by common-law status
Total population by mother tongue
Total population by knowledge of official languages
Total population by first official language spoken
Total population by language spoken most often at home
Total - Mobility status 1 year ago
Total - Mobility status 5 years ago
Total population by citizenship
Total population by immigrant status and place of birth
Total recent immigrants by selected places of birth
Total immigrant population by period of immigration
Total immigrant population by age at immigration
Total population 15 years and older by generation status
Total population by Aboriginal and non-Aboriginal identity population
Total population by Registered Indian status
Total population 15 years and over by labour force activity
Males 15 years and over - Labour force activity
Males 15 to 24 years - Labour force activity
Males 25 years and over - Labour force activity
Females 15 years and over - Labour force activity
Females 15 to 24 years - Labour force activity
Females 25 years and over - Labour force activity
Total labour force 15 years and over by class of worker
Male labour force 15 years and over - class of worker
Female labour force 15 years and over - class of worker
Total labour force 15 years and over by occupation - National Occupational Classification for Statistics 2006
Male labour force 15 years and over by occupation - National Occupational Classification for Statistics 2006
Female labour force 15 years and over by occupation - National Occupational Classification for Statistics 2006
Total labour force 15 years and over by industry - North American Industry Classification System 2002
Male labour force 15 years and over - Industry - North American Industry Classification System 2002
Female labour force 15 years and over - Industry - North American Industry Classification System 2002
Total employed labour force 15 years and over by place of work status
Males
Females
Total employed labour force 15 years and over with usual place of work or no fixed workplace address by mode of transportation
Males with usual place of work or no fixed workplace address
Females with usual place of work or no fixed workplace address
Total population 15 years and over who worked since January 1, 2005 by language used most often at work
Total population 15 years and over by hours spent doing unpaid housework
Males 15 years and over - Hours spent doing unpaid housework
Females 15 years and over - Hours spent doing unpaid housework
Total population 15 years and over by hours spent looking after children, without pay
Males 15 years and over - Hours spent looking after children, without pay
Females 15 years and over - Hours spent looking after children, without pay
Total population 15 years and over by hours spent providing unpaid care or assistance to seniors
Males 15 years and over - Hours spent providing unpaid care or assistance to seniors
Females 15 years and over - Hours spent providing unpaid care or assistance to seniors
Total male population 25 to 64 years with postsecondary qualifications by major field of study - Classification of Instructional Programs, 2000
Total female population 25 to 64 years with postsecondary qualifications by major field of study - Classification of Instructional Programs, 2000
Total population 15 to 24 years by highest certificate, diploma or degree
Total population 25 to 64 years by highest certificate, diploma or degree
Total population 65 years and over by highest certificate, diploma or degree
Total population 25 to 64 years with postsecondary qualification by location of study
Total population by Aboriginal and non-Aboriginal ancestry
Total population by visible minority groups
Total population by ethnic origin
Males 15 years and over with employment income
Females 15 years and over with employment income
Total immigrants by selected places of birth
Total population 15 years and over by presence of children and labour force activity
Males 15 years and over in private households - Presence of children and labour force activity
Males 15 years and over in private households with no children at home
Males 15 years and over in private households with children at home
Males 15 years and over in private households with children under 6 years only
Males 15 years and over in private households with children under 6 years as well as children 6 years and over
Males 15 years and over in private households with children 6 years and over only
Females 15 years and over in private households - Presence of children and labour force activity
Females 15 years and over in private households with no children at home
Females 15 years and over in private households with children at home
Females 15 years and over in private households with children under 6 years only
Females 15 years and over in private households with children under 6 years as well as children 6 years and over
Females 15 years and over in private households with children 6 years and over only
Total couple families by family structure and number of children
Common-law couples
Total lone-parent families by sex of parent and number of children
Female parent
Male parent
Average number of children at home per census family
Male lone-parent economic families
Female lone-parent economic families
Total number of non-farm, non-reserve private dwellings occupied by usual residents
Total number of private households by household size
Total number of private households by household type
Males 15 years and over not in economic families
Females 15 years and over not in economic families
Total number of occupied private dwellings by housing tenure
Total number of occupied private dwellings by condition of dwelling
Total number of occupied private dwellings by period of construction
Total number of occupied private dwellings by structural type of dwelling
population by age and sex
marital status
couples - family structure
detailed language
official language
structual dwelling type
household size
lone_parent
immigration_age
immigration_period

In [424]:
df_2016['Total -  Owner and tenant households with household total income greater than zero, in non-farm, non-reserve private dwellings by shelter-cost-to-income ratio - 25% sample data']

Variable,LocalArea,"Total - Owner and tenant households with household total income greater than zero, in non-farm, non-reserve private dwellings by shelter-cost-to-income ratio - 25% sample data",Spending less than 30% of income on shelter costs,Spending 30% or more of income on shelter costs,30% to less than 100%
0,Arbutus-Ridge,6080,3370,2710,1760
1,Downtown,34985,19470,15515,11080
2,Dunbar-Southlands,6930,4675,2255,1365
3,Fairview,19460,12960,6495,5080
4,Grandview-Woodland,15035,9755,5275,4425
5,Hastings-Sunrise,12715,8915,3800,3250
6,Kensington-Cedar Cottage,17855,12325,5530,4615
7,Kerrisdale,5475,3320,2155,1455
8,Killarney,10650,7775,2875,2425
9,Kitsilano,22870,14895,7980,6015
10,Marpole,10865,6540,4325,3195
11,Mount Pleasant,17935,11725,6205,5180
12,Oakridge,5000,2805,2195,1495
13,Renfrew-Collingwood,18835,12580,6255,5135
14,Riley Park,8825,6285,2535,2115
15,Shaughnessy,2865,1925,945,630
16,South Cambie,3155,2115,1040,835
17,Strathcona,5835,3050,2780,2430
18,Sunset,11570,7740,3840,3200
19,Victoria-Fraserview,10165,7250,2915,2385
20,West End,30755,16920,13835,10570
21,West Point Grey,5320,3265,2055,1410
22,Vancouver CSD,283180,179675,103505,80055
23,Vancouver CMA,953375,648425,304950,240995

In [37]:
df_2006['structual dwelling type'].head()

,LocalArea,Total,Single-detached house,Semi-detached house,Row house,"Apartment, duplex","Apartment, building that has five or more storeys"
0,Arbutus-Ridge,6100,2410,60,255,630,1385
1,Downtown,25025,15,10,575,80,22355
2,Dunbar-Southlands,7405,5285,10,30,1730,0
3,Fairview,17390,50,120,655,45,4695
4,Grandview-Woodland,14320,1405,380,260,1960,715

In [38]:
df_2001['Total population by immigrant status and place of birth'].head()

Variable,LocalArea,Total population by immigrant status and place of birth,Non-immigrant population,Born in province of residence,Born outside province of residence
0,Arbutus-Ridge,14040,6640,4390,2245
1,Downtown,27725,16105,7715,8390
2,Dunbar-Southlands,21215,13680,9670,4010
3,Fairview,27550,18275,9235,9040
4,Grandview-Woodland,28975,18250,10490,7765

In [39]:
df_2006['Total population by immigrant status and place of birth']

Variable,LocalArea,Total population by immigrant status and place of birth,Non-immigrants,Born in province of residence,Born outside province of residence,Immigrants,United States of America,Central America,Caribbean and Bermuda,South America,...,"Hong Kong, Special Administrative Region",Other Eastern Asia,Southeast Asia,Philippines,Other Southeast Asia,Southern Asia,India,Other Southern Asia,Oceania and other,Non-permanent residents
0,Arbutus-Ridge,15830,7175,4820,2355,8265,280,45,15,65,...,1635,1695,270,45,220,90,80,15,65,390
1,Downtown,42580,23090,11755,11330,16725,605,310,160,320,...,1520,2135,1525,695,825,325,235,90,250,2765
2,Dunbar-Southlands,21320,14015,9920,4100,6960,575,75,50,135,...,840,1545,290,105,185,95,70,25,120,345
3,Fairview,28490,18910,10100,8805,8705,640,170,130,235,...,630,1035,580,330,250,140,125,10,225,870
4,Grandview-Woodland,27945,18410,10860,7555,8980,500,295,55,215,...,490,345,1750,740,1005,100,40,65,85,555
5,Hastings-Sunrise,33000,15630,12085,3540,16860,200,250,50,265,...,1980,435,3255,1170,2085,475,295,175,175,515
6,Kensington-Cedar Cottage,44315,19255,14570,4685,24310,455,385,70,220,...,2030,520,7060,3790,3270,1500,1040,460,645,750
7,Kerrisdale,14625,7650,5380,2265,6515,210,30,20,105,...,1065,1595,245,155,90,135,110,30,80,455
8,Killarney,26840,10985,8330,2655,15345,270,280,65,220,...,2780,1285,1920,985,930,525,440,85,230,520
9,Kitsilano,40385,28265,15360,12910,10690,1140,205,195,255,...,520,880,545,245,300,185,115,65,340,1425
10,Marpole,23255,9145,6335,2805,13610,250,180,40,165,...,2520,1615,1510,1215,305,340,215,125,80,505
11,Mount Pleasant,23300,14370,8050,6315,8400,305,135,110,180,...,325,285,2860,1895,965,450,200,250,175,525
12,Oakridge,12535,4475,3270,1205,7715,170,50,10,45,...,1510,1600,520,255,270,205,155,50,50,345
13,Renfrew-Collingwood,48660,17655,14610,3050,29550,185,435,80,165,...,3625,1090,7725,3995,3725,1360,1120,245,920,1450
14,Riley Park,21640,12405,8735,3665,8825,310,135,45,105,...,805,855,2150,1580,565,320,230,90,260,410
15,Shaughnessy,8720,5145,3395,1745,3355,190,20,0,45,...,610,640,330,140,195,55,55,0,40,220
16,South Cambie,6825,4060,2595,1460,2595,170,15,0,60,...,345,565,190,75,120,15,0,15,70,175
17,Strathcona,11285,5805,3080,2720,5315,115,60,30,50,...,275,70,760,50,710,125,40,85,55,165
18,Sunset,35305,13375,11490,1890,21415,215,325,70,180,...,1725,470,4275,2855,1415,7775,6785,990,665,510
19,Victoria-Fraserview,28790,10540,8580,1960,17965,215,380,45,180,...,3420,590,2870,1555,1315,1450,1305,140,360,285
20,West End,44320,24925,10915,14005,14940,855,400,180,445,...,550,1620,1210,685,525,320,225,100,285,4460
21,West Point Grey,12990,8565,5390,3175,3995,440,35,35,50,...,165,615,155,60,95,65,40,25,130,430
22,Vancouver CSD,571600,292760,188740,104025,260760,8255,4205,1465,3695,...,29345,21455,41960,22620,19345,16070,12920,3150,5300,18080
23,Vancouver CMA,2.09796e+06,1.2275e+06,858815,368680,831265,24780,12300,6105,11320,...,75775,83075,107935,62960,44970,102320,90095,12230,24090,39200

In [191]:
df_im_2011 = pd.read_csv('../../data/processed/nhs_Immigrant status and selected places of birth.csv', index_col=0)
df_im_2011.columns

Index(['Type', 'Afghanistan', 'Africa', 'Algeria', 'Americas', 'Asia',
       'Bangladesh', 'Born in province of residence',
       'Born outside province of residence', 'Bosnia and Herzegovina', 'Chile',
       'China', 'Colombia', 'Croatia', 'Egypt', 'El Salvador', 'Ethiopia',
       'Europe', 'Fiji', 'France', 'Germany', 'Greece', 'Guyana', 'Haiti',
       'Hong Kong Special Administrative Region', 'Hungary', 'Immigrants',
       'India', 'Iran', 'Iraq', 'Ireland, Republic of', 'Italy', 'Jamaica',
       'Japan', 'Kenya', 'Korea, South', 'Lebanon', 'Mexico', 'Morocco',
       'Netherlands', 'Nigeria', 'Non-immigrants', 'Non-permanent residents',
       'Oceania and other', 'Other places of birth',
       'Other places of birth in Africa', 'Other places of birth in Americas',
       'Other places of birth in Asia', 'Other places of birth in Europe',
       'Pakistan', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Romania',
       'Russian Federation', 'Serbia', 'South Africa, Republic of',
       'Sri Lanka', 'Taiwan',
       'Total population in private households by immigrant status and selected places of birth',
       'Trinidad and Tobago', 'Turkey', 'Ukraine', 'United Kingdom',
       'United States', 'Viet Nam', 'LocalArea'],
      dtype='object')

In [128]:
df_2006['Total population by Aboriginal and non-Aboriginal identity population'].head(2)
#df_2006['Total population by Registered Indian status']

Variable,LocalArea,Total population by Aboriginal and non-Aboriginal identity population,Total Aboriginal identity population,North American Indian single response,Mtis single response,Inuit single response,Multiple Aboriginal identity responses,Aboriginal responses not included elsewhere,Non-Aboriginal identity population
0,Arbutus-Ridge,15835,65,15,25,0,0,25,15765
1,Downtown,42580,1380,945,380,10,10,40,41195

In [123]:
df_2001['Total population by aboriginal and non-aboriginal population'].head()

Variable,LocalArea,Total population by aboriginal and non-aboriginal population,Total aboriginal origins population,North American Indian single origin,North American Indian and non-aboriginal origins,Mtis single origin,Mtis and non-aboriginal origins,Inuit single origin,Inuit and non-aboriginal origins,Other aboriginal multiple origins,Total non-aboriginal population
0,Arbutus-Ridge,14040,110,10,95,0,10,0,0,0,13925
1,Downtown,27725,1330,585,535,35,115,15,15,30,26390
2,Dunbar-Southlands,21215,650,485,120,0,30,0,0,0,20565
3,Fairview,27545,565,55,335,10,145,0,10,20,26980
4,Grandview-Woodland,28975,2955,1480,1055,60,290,10,0,65,26015

In [116]:
df_ab_2011 = pd.read_csv('../../data/processed/nhs_Aboriginal population.csv', index_col=0)
df_ab_2011.head(2)

,Type,Aboriginal ancestry,Aboriginal identities not included elsewhere,Aboriginal identity,First Nations (North American Indian) Aboriginal ancestry,First Nations (North American Indian) single identity,Inuit ancestry,Inuk (Inuit) single identity,Multiple Aboriginal identities,Mtis ancestry,Mtis single identity,Non-Aboriginal ancestry only,Non-Aboriginal identity,Not a Registered or Treaty Indian,Registered or Treaty Indian,Total population in private households by Aboriginal ancestry,Total population in private households by Aboriginal identity,Total population in private households by Registered or Treaty Indian status,LocalArea
0,Total,355.0,0.0,255.0,210.0,205.0,0.0,0.0,0.0,45.0,25.0,20255.0,20345.0,20520.0,55.0,20610.0,20610.0,20620.0,Victoria-Fraserview
1,Male,120.0,0.0,25.0,35.0,0.0,0.0,0.0,0.0,15.0,10.0,9790.0,9850.0,9915.0,0.0,9940.0,9945.0,9940.0,Victoria-Fraserview

In [119]:
df_2016['Total - Aboriginal identity for the population in private households - 25% sample data'].head()

Variable,LocalArea,Total - Aboriginal identity for the population in private households - 25% sample data,Aboriginal identity,Single Aboriginal responses,First Nations (North American Indian),Mtis,Inuk (Inuit),Multiple Aboriginal responses,Aboriginal responses not included elsewhere,Non-Aboriginal identity
0,Arbutus-Ridge,15070,140,130,60,70,0,10,10,14930
1,Downtown,58855,1430,1375,795,560,20,30,25,57425
2,Dunbar-Southlands,21285,880,875,835,40,0,0,0,20405
3,Fairview,32725,590,575,305,265,10,0,10,32135
4,Grandview-Woodland,29000,2265,2215,1760,445,10,25,25,26740

In [120]:
df_2016['Total - Aboriginal ancestry for the population in private households - 25% sample data']

Variable,LocalArea,Total - Aboriginal ancestry for the population in private households - 25% sample data,Aboriginal ancestry (only),Single Aboriginal ancestry (only),First Nations (North American Indian) single ancestry,Mtis single ancestry,Inuit single ancestry,Multiple Aboriginal ancestries (only),First Nations (North American Indian) and Mtis ancestries,First Nations (North American Indian) and Inuit ancestries,...,Single Aboriginal and non-Aboriginal ancestries,First Nations (North American Indian) and non-Aboriginal ancestries,Mtis and non-Aboriginal ancestries,Inuit and non-Aboriginal ancestries,Multiple Aboriginal and non-Aboriginal ancestries,"First Nations (North American Indian), Mtis and non-Aboriginal ancestries","First Nations (North American Indian), Inuit and non-Aboriginal ancestries","Mtis, Inuit and non-Aboriginal ancestries","First Nations (North American Indian), Mtis, Inuit and non-Aboriginal ancestries",Non-Aboriginal ancestry (only)
0,Arbutus-Ridge,15075,15,15,15,0,0,0,0,0,...,245,190,55,0,0,0,0,0,0,14810
1,Downtown,58855,415,410,340,55,10,10,0,0,...,1255,860,395,0,70,75,0,0,0,57115
2,Dunbar-Southlands,21285,610,605,595,15,0,10,10,0,...,400,315,90,0,0,0,0,0,0,20275
3,Fairview,32720,60,60,50,10,0,0,0,0,...,825,530,285,10,45,45,0,0,0,31800
4,Grandview-Woodland,29000,1005,990,950,40,0,15,10,0,...,1350,1105,240,10,85,80,10,0,0,26560
5,Hastings-Sunrise,34115,225,205,180,25,10,15,15,0,...,1050,790,255,0,50,40,0,0,0,32800
6,Kensington-Cedar Cottage,48865,235,230,205,20,0,10,10,0,...,910,635,250,20,40,45,0,0,0,47685
7,Kerrisdale,13900,10,15,10,0,0,0,0,0,...,100,65,30,0,10,10,0,0,0,13780
8,Killarney,28930,95,100,85,10,0,0,0,0,...,490,395,90,0,20,20,0,0,0,28330
9,Kitsilano,42755,70,70,50,25,0,0,0,0,...,910,650,255,0,50,45,10,0,0,41720
10,Marpole,24135,100,105,85,20,0,0,0,0,...,370,265,105,0,0,10,0,0,0,23660
11,Mount Pleasant,32235,290,260,230,20,10,35,30,10,...,935,640,285,15,45,45,0,0,0,30965
12,Oakridge,13025,15,15,10,0,0,0,0,0,...,100,75,25,0,0,0,0,0,0,12910
13,Renfrew-Collingwood,51220,220,215,200,15,0,0,0,0,...,745,580,165,0,15,15,0,0,0,50240
14,Riley Park,22365,30,30,20,10,0,0,0,0,...,560,405,155,10,35,25,10,0,10,21740
15,Shaughnessy,7990,10,0,0,0,0,0,10,0,...,75,55,20,0,0,0,0,0,0,7910
16,South Cambie,7570,30,30,25,0,0,0,0,0,...,110,85,20,0,10,0,0,0,0,7430
17,Strathcona,9860,530,505,445,65,0,25,25,0,...,455,345,110,0,15,15,0,0,0,8850
18,Sunset,36075,110,105,100,0,0,15,10,0,...,385,270,115,0,50,50,0,0,0,35530
19,Victoria-Fraserview,30235,95,95,75,20,0,0,0,0,...,330,220,110,0,15,10,0,0,0,29800
20,West End,46720,155,155,110,40,10,0,10,0,...,1325,870,440,15,30,30,0,0,0,45210
21,West Point Grey,12925,25,20,15,0,0,0,0,0,...,265,175,75,10,10,10,0,0,0,12630
22,Vancouver CSD,618210,3750,3625,3205,375,45,120,115,0,...,12995,9325,3575,95,590,560,25,0,10,600875
23,Vancouver CMA,2.42624e+06,13620,13305,10895,2265,150,310,285,20,...,58700,38755,19595,350,2385,2305,35,30,20,2.35154e+06

# MISSING MATCHING DATA ACROSS ALL CENSUS YEARS

In [351]:
### NO MATCHING DATA FOR CENSUS YEARS ###

def clean_work_activity(census_dict, year):
    
    if year == 2001:
        column_names = ['LocalArea',
       'Total population with employment income',
       'Total - average employment income',
       'Total standard error of average employment income',
       'Worked full year, full time', 'Full time - average employment income',
       'Full time - standard error of average employment income',
       'Worked part year or part time', 'Part time - average employment income',
       'Part time - standard error of average employment income']
        
        df = census_dict['Total population 15 years and over with employment income, by sex and work activity']
        
    elif year == 2006:
        
    elif year == 2011:
        column_names = ['LocalArea', 'Type', 
                 'Total labour force',
                 'Did not work in past year', 'Worked in past year',
                 '1 to 13 weeks', '14 to 26 weeks', '27 to 39 weeks',
                 '40 to 48 weeks', '49 to 52 weeks', 
                 'Average weeks worked in past year']
        
        df = pd.read_csv('../../data/processed/nhs/Work activity.csv', index_col=0)
        df = df[['LocalArea', 'Type', 
                 'Total labour force aged 15 years and over by work activity in 2010',
                 'Did not work in 2010', 'Worked in 2010',
                 '1 to 13 weeks', '14 to 26 weeks', '27 to 39 weeks',
                 '40 to 48 weeks', '49 to 52 weeks', 
                 'Average weeks worked in 2010']].copy()
        
    elif year == 2016:
    
    df.set_axis(column_names, axis=1, inplace=True)
    df.sort_values(by=['LocalArea'], inplace=True)
    census_dict['work_activity'] = df
    df.to_csv('../../data/processed/census_' + str(year) + 'work_activity.csv')
    
    return census_dict