In [35]:
import pandas as pd
import altair as alt
import os

In [36]:
os.getcwd()

'/Users/aakankshadimri/Downloads/evan/src/04_visualization'

In [37]:
df = pd.read_csv("../../data/processed/combined_train.csv", encoding='latin-1')

//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [162]:
#df.columns

In [163]:
## Read csv as dictionary ##
import csv

my_dict = {' ': ' '}
with open('../../data/processed/business_dict.csv', mode='r') as csv_file:
    csv_reader = csv.reader(csv_file)
    for row in csv_reader:
        my_dict[row[0]] = row[1]

In [43]:
#my_dict

In [45]:
#my_dict.pop(' ')
#my_dict.pop('BusinessType')

'BusinessIndustry'

In [47]:
#my_dict

In [164]:
## Add BusinessIndustry column
#df['BusinessIndustry'] = df['BusinessType'].map(my_dict)

In [49]:
#df.head()

,business_id,FOLDERYEAR,LicenceRSN,LicenceNumber,LicenceRevisionNumber,BusinessName,BusinessTradeName,Status,IssuedDate,ExpiredDate,...,Geo Local Area,NumberofEmployees,FeePaid,ExtractDate,Geom,label,Parking meters,Disability parking,Unemployment_rate,BusinessIndustry
0,1,2018,3100450,18-516072,0.0,!Exotics BySIYTHE Corporation,NaN,Issued,2018-02-14,2018-12-31,...,Downtown,1.0,189.0,2020-04-01 09:32:19,NaN,1,19.0,3771.0,4.4,"Professional, scientific and technical services"
1,2,2004,804123,04-036444,0.0,.243 Racing Inc,NaN,Issued,2004-04-07,2004-12-31,...,Grandview-Woodland,NaN,100.0,2019-07-21 13:48:32,NaN,1,7.0,312.0,6.8,Wholesale trade
2,2,2005,884526,05-112560,0.0,.243 Racing Inc,NaN,Issued,2004-12-23,2005-12-31,...,Grandview-Woodland,NaN,103.0,2019-07-21 13:48:35,NaN,1,7.0,312.0,5.7,Wholesale trade
3,2,2006,1010837,06-140328,0.0,.243 Racing Inc,NaN,Issued,2005-12-12,2006-12-31,...,Grandview-Woodland,NaN,106.0,2019-07-21 13:48:41,NaN,0,7.0,312.0,4.4,Wholesale trade
4,6,1997,41022,97-012466,0.0,"""return To Sender"" Cards & Novelties Inc",NaN,Issued,1997-02-20,1997-12-31,...,West End,NaN,85.0,2019-07-21 13:47:54,NaN,1,10.0,940.0,8.5,Retail trade

In [170]:
df.head()

,business_id,FOLDERYEAR,LicenceRSN,LicenceNumber,LicenceRevisionNumber,BusinessName,BusinessTradeName,Status,IssuedDate,ExpiredDate,...,Geo Local Area,NumberofEmployees,FeePaid,ExtractDate,Geom,label,Parking meters,Disability parking,Unemployment_rate,BusinessIndustry
0,1,2018,3100450,18-516072,0.0,!Exotics BySIYTHE Corporation,NaN,Issued,2018-02-14,2018-12-31,...,Downtown,1.0,189.0,2020-04-01 09:32:19,NaN,1,19.0,3771.0,4.4,"Professional, scientific and technical services"
1,2,2004,804123,04-036444,0.0,.243 Racing Inc,NaN,Issued,2004-04-07,2004-12-31,...,Grandview-Woodland,NaN,100.0,2019-07-21 13:48:32,NaN,1,7.0,312.0,6.8,Wholesale trade
2,2,2005,884526,05-112560,0.0,.243 Racing Inc,NaN,Issued,2004-12-23,2005-12-31,...,Grandview-Woodland,NaN,103.0,2019-07-21 13:48:35,NaN,1,7.0,312.0,5.7,Wholesale trade
3,2,2006,1010837,06-140328,0.0,.243 Racing Inc,NaN,Issued,2005-12-12,2006-12-31,...,Grandview-Woodland,NaN,106.0,2019-07-21 13:48:41,NaN,0,7.0,312.0,4.4,Wholesale trade
4,6,1997,41022,97-012466,0.0,"""return To Sender"" Cards & Novelties Inc",NaN,Issued,1997-02-20,1997-12-31,...,West End,NaN,85.0,2019-07-21 13:47:54,NaN,1,10.0,940.0,8.5,Retail trade

In [167]:
df_1 = df.groupby(["FOLDERYEAR","BusinessIndustry",'BusinessType'],as_index=False)[["label"]].sum()
df_1.columns = ['FOLDERYEAR', 'BusinessIndustry','BusinessType', 'total_label_issued']

In [169]:
df_1.head(30)

,FOLDERYEAR,BusinessIndustry,BusinessType,total_label_issued
0,1996,"Administrative and support, waste management a...",Janitorial Services,1
1,1996,Other Services,Plumber,0
2,1996,"Professional, scientific and technical services",Office,3
3,1996,Retail trade,Retail Dealer,0
4,1996,Wholesale trade,Wholesale Dealer,0
5,1997,Accommodation and food services,Bed and Breakfast,40
6,1997,Accommodation and food services,CNIB Concession - Food,3
7,1997,Accommodation and food services,Caterer,33
8,1997,Accommodation and food services,Dining Lounge/Room *Historic*,317
9,1997,Accommodation and food services,Hotel,38
10,1997,Accommodation and food services,Ltd Service Food Establishment,471
11,1997,Accommodation and food services,Neighbourhood Pub *Historic*,8
12,1997,Accommodation and food services,Restaurant Class 1,456
13,1997,Accommodation and food services,Restaurant Class 1 & Karaoke *Historic*,0
14,1997,Accommodation and food services,Restaurant Class 2,1
15,1997,"Administrative and support, waste management a...",Auctioneer,14
16,1997,"Administrative and support, waste management a...",Booking Agency,10
17,1997,"Administrative and support, waste management a...",Bottle Depot *Historic*,5
18,1997,"Administrative and support, waste management a...",Carpet/Upholstery Cleaner,18
19,1997,"Administrative and support, waste management a...",Chimney Sweep,3
20,1997,"Administrative and support, waste management a...",Employment Agency,36
21,1997,"Administrative and support, waste management a...",Janitorial Services,180
22,1997,"Administrative and support, waste management a...",Locksmith,16
23,1997,"Administrative and support, waste management a...",Pest Control/Exterminator,11
24,1997,"Administrative and support, waste management a...",Recycling Depot,7
25,1997,"Administrative and support, waste management a...",Scavenging,18
26,1997,"Administrative and support, waste management a...",Sign Permit *Historic*,4
27,1997,"Administrative and support, waste management a...",Travel Agent,201
28,1997,"Arts, entertainment and recreation",Adult Entertainment Store,6
29,1997,"Arts, entertainment and recreation",Arcade,6

In [56]:
# Remove 2010 Winter games
#df_1 = df_1[df_1.BusinessIndustry != 'Historic']

In [94]:
#df_1.head(30)

In [95]:
industry_grouped = df.groupby('BusinessIndustry',as_index=False )['label'].sum()
industry_grouped.columns = ['BusinessIndustry','total_license_issued']

In [97]:
year_grouped = df.groupby('FOLDERYEAR',as_index=False )['label'].sum()
year_grouped.columns = ['Year','total_license_issued']

In [132]:
#year_grouped

In [141]:
bars_1 = alt.Chart(year_grouped, title='Total License Issued').mark_bar(opacity=0.6).encode(
     x=alt.X("total_license_issued:Q",title = "Licenses issued",axis=None),
     y=alt.Y('Year',type = "ordinal")
   )

text_1 = bars_1.mark_text(
    align='left',
    baseline='middle',
    dx=8  # Nudges text to right so it doesn't appear on top of the bar
).encode(
    text='total_license_issued:Q'
)

(bars_1 + text_1).properties(width=700, height=500).configure_axis(titleFontSize=18, titleFontWeight = 500, labelFontWeight = 100, labelFontSize = 12
        )

alt.LayerChart(...)

In [166]:
## Remove 2010 wintergames history
industry_grouped = industry_grouped[industry_grouped.BusinessIndustry != 'Historic']

In [165]:
bars_2 = alt.Chart(industry_grouped, title='Total License Issued').mark_bar(opacity=0.7).encode(
     x=alt.X("total_license_issued:Q", title = "Licenses issued",axis=None),
     y=alt.Y('BusinessIndustry:N',title = "Industry", sort='-x')
   )

bars_2

text_2 = bars_2.mark_text(
    align='left',
    baseline='middle',
    dx=8  # Nudges text to right so it doesn't appear on top of the bar
).encode(
    text='total_license_issued:Q'
)

(bars_2 + text_2).properties(width=700, height=500).configure_axis(titleFontSize=18, titleFontWeight = 500, labelFontWeight = 100, labelFontSize = 12
        )

alt.LayerChart(...)

In [5]:
#make_plot('FOLDERYEAR')

In [160]:
# points = alt.Chart(df_1).mark_bar().encode(
#     x='BusinessType:N',
#     y='total_label_issued:Q',
#     color=('FOLDERYEAR:N'))

# points
# transform Y axis
# Clustering : on
#Distance matrix :simlarity of values between years
#R -- Normalise or Divide by total 
# Also Sort by trend instead of

In [161]:
# alt.Chart(df_1).mark_bar().encode(alt.X('BusinessType',type = "nominal"),alt.Y("total_label_issued:Q",title = "Licenses issued")).add_selection(
#     brush
# )